.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Cursos
    .panel-body.pn
      %table.table.table-striped.table-hover#courses{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Acciones
        %tbody