.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Alumnos
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Acciones
        %tbody
          - @students.each do |student|
            %tr
              %td
                = student.first_name.to_s
              %td
                %a.btn.btn-success{:href => "#{show_report_grade_path(student.id)}"}
                  Ver Libreta de Notas