.bg-light.dark.p30.br-b.br-grey
  %p.lead.mb30
    Lista de Grados y Secciones
  - if flash[:notice] !=nil
    %p.lead.mb30
      %b.text-warning
        = flash[:notice]
  - if flash[:error] != nil
    %p.lead.mb30
      %b.text-danger
        = flash[:error]

  .section.row
    .col-md-5
      %select#sections-select{:name =>"grades[sections_degree_id]"}
        %option{:value => nil, :rel => "", :selected => true}
          Seleccione Grado / Sección
        - @sectionsdegree.each do |sectiondegree|
          %option{:value => "#{sectiondegree}"}
            = Degree.find(SectionsDegree.find(sectiondegree).degree_id).name + ' ' + SectionsDegree.find(sectiondegree).name

.tab-block.p20.mt10
  %section
    = render :partial => 'table'

:javascript


  $('#sections-select').change(function(){
    var url="#{complete_grades_path}";
    var chosen=$('#sections-select').val();
    var form_token="#{form_authenticity_token}";
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { chosen: chosen, authenticity_token: form_token}
    }).done(function( data ) {
      newOptions = [];
      var table = document.getElementById("courses");
      while(table.rows.length > 1) {
        table.deleteRow(1);
      }
      $.each(data.combo, function(key, value){
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var newlink = document.createElement('a');
        newlink.innerHTML = "Poner Notas";
        newlink.setAttribute('class', 'btn btn-warning');
        newlink.setAttribute('href', "/grades/"+value.id+"/put_grade?timetable_id="+value.timetable_id);
        cell1.innerHTML = value.name;
        cell2.appendChild(newlink);
      });
    });
  });