.col-md-12
  .admin-form.theme-primary
    .panel
      = simple_form_for(@grade, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
        .panel-body
          .section.row
            .col-md-4
              %select#presentation{:name =>"grade[course_detail_id]"}
                %option{:value => nil, :rel => "", :selected => true}
                  Seleccione Tipo de Nota
                - @course_details.each do |detail|
                  %option{:value => "#{detail.id}"}
                    = detail.name
            .col-md-4
              %label.field.prepend-icon{:for => "grade[name]"}
                = text_field_tag 'grade[name]', '' , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', placeholder: "Titulo de nota", input_html: { id: 'grade[name]', class: 'gui-input' }, label: false, :wrapper => false
                %label.field-icon{:for => "grade[name]"}
                  %i.fa.fa-user
            .col-md-4
              %label.field.prepend-icon{:for => "grade[date_of_issue]"}
                = text_field_tag 'grade[date_of_issue]', @time , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', placeholder: "Fecha", input_html: { id: 'grade[date_of_issue]', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                %label.field-icon{:for => "grade[date_of_issue]"}
                  %i.fa.fa-user

        .panel.panel-visible
          .panel-heading
            .panel-title.hidden-xs
              %span.glyphicon.glyphicon-tasks>
              Lista de Alumnos
          .panel-body.pn
            %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Nombre Alumno
                  %th Nota
              %tbody
                - @students.each do |student|
                  %tr
                    %td{:style => "display:none"}
                      = text_field_tag 'grade_details_attributes[' + student.id.to_s + '][student_id]', student.id , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', placeholder: "Nota", input_html: { id: 'grade[grade_details_attributes][' + student.id.to_s + '][student_id ]', class: 'gui-input' }, label: false, :wrapper => false
                    %td
                      = student.first_name.to_s + ' ' + student.paternal_surname.to_s
                    %td
                      = text_field_tag 'grade_details_attributes[' + student.id.to_s + '][grade]', 0 , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', placeholder: "Nota", input_html: { id: 'grade[grade_details_attributes][' + student.id.to_s + '][grade]', class: 'gui-input' }, label: false, :wrapper => false
        .panel-footer.text-right
          %button.button.btn-primary{:type => "submit"} Registrar Notas