.tab-block.p20.mt10{:style => "table-layout: fixed;" }
  %section
    .col-md-12
    .panel.panel-visible
      .panel-heading
        .panel-title.hidden-xs
          %span.glyphicon.glyphicon-tasks>
          Libreta de Notas
      .panel-body.pn
        %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th{:cellspacing => "0", :width => "30%"}
                Nombres
              %th{:cellspacing => "0", :width => "70%"}
                = @student.first_name.to_s + ' ' + @student.second_name.to_s
            %tr
              %th{:cellspacing => "0", :width => "30%"}
                Apellidos
              %th{:cellspacing => "0", :width => "70%"}
                = @student.paternal_surname.to_s + ' ' + @student.maternal_surname.to_s
            %tr
              %th{:cellspacing => "0", :width => "30%"} Sección
              %th{:cellspacing => "0", :width => "70%"} 
                = @student.sections_degree.degree.name + ' ' + @student.sections_degree.name
        %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th
                Notas
          %tbody
            %tr
              - @title_array.each do |title|
                %td
                  = title
            - @grades_array.each do |grade|
              %tr
                %td
                  = grade[0]
                %td
                  = grade[1]
                %td
                  = grade[2]
                %td
                  = grade[3]
                %td
                  = grade[4]
  -if current_user.type != 'Student'
    %a(href="#{show_list_students_grade_path(current_user.id)}" class="btn btn-primary" role="button")
      Volver
  -else
    %a(href="#{show_grades_student_grade_path(current_user.id)}" class="btn btn-primary" role="button")
      Volver
  %a(href='/grades/#{(current_user.id).to_s}/student_grades_pdf.pdf' class="btn btn-primary" role="button" style='margin-left: 3%;' class='btn btn-pdf btn-xs' data-original-title='Ver PDF' data-placement='top' target='_blank' rel='tooltip')
    %i.fa.fa-file