.tab-block.p20.mt10
  %section.col-md-8
    .panel.panel-visible
      .panel-heading
        .panel-title.hidden-xs
          %span.glyphicon.glyphicon-tasks>
          Lista de Cursos
      .panel-body.pn
        %table.table.table-striped.table-hover
          %thead
            - @courses.each do |course|
              %tr
                %th{:style => "text-align: -webkit-center;font-weight: bolder;"}
                  = course.name
              - course.course_details.each do |coursedetail|
                %tr
                  %th{:style => "font-weight: bolder;"}
                    = coursedetail.name
                - @grades = Grade.where("student_id = ? AND course_detail_id = ? AND date_of_issue BETWEEN ? AND ?", @student.id, coursedetail.id, @period.start_date, @period.end_date)
                - @grades.each do |grade|
                  %tr
                    %th{:style => "width: 50%;"}
                      = grade.name
                    %th{:style => "width: 50%;"}
                      = grade.grade
  %a(href="#{show_report_grade_path(current_user.id)}" class="btn btn-primary" role="button")
    Ver Libreta