.bg-light.dark.p30.br-b.br-grey
  %p.lead.mb30
    Libreta de Notas
  - if flash[:notice] !=nil
    %p.lead.mb30
      %b.text-warning
        = flash[:notice]
  - if flash[:error] != nil
    %p.lead.mb30
      %b.text-danger
        = flash[:error]

.tab-block.p20.mt10
  %section
    = render :partial => 'table_students'