/ <div class="p40 bg-background bg-topbar bg-psuedo-tp">
.pv30.ph40.bg-light.dark.br-b.br-grey.posr
  .table-layout
    .w200.text-center.pr30.hidden-xs
      = image_tag "avatars/profile_avatar.jpg", alt: "", title: "img", class: 'responsive'
    .va-t.m30
      %h2
        My Own Profile
        %small As a index page
      %p.fs15.mb20 Comming Soon... Some index page... Lorem Ipsum dolor sit amet ctetur...
      %ul.list-inline.list-unstyled
        %li
          %a{:href => "#", :title => "facebook link"}
            %span.fa.fa-facebook-square.fs35.text-primary
        %li
          %a{:href => "#", :title => "twitter link"}
            %span.fa.fa-twitter-square.fs35.text-info
        %li
          %a{:href => "#", :title => "google plus link"}
            %span.fa.fa-google-plus-square.fs35.text-danger
        %li.hidden
          %a{:href => "#", :title => "behance link"}
            %span.fa.fa-behance-square.fs35.text-primary
        %li.hidden
          %a{:href => "#", :title => "pinterest link"}
            %span.fa.fa-pinterest-square.fs35.text-danger-light
        %li.hidden
          %a{:href => "#", :title => "linkedin link"}
            %span.fa.fa-linkedin-square.fs35.text-info
        %li.hidden
          %a{:href => "#", :title => "github link"}
            %span.fa.fa-github-square.fs35.text-dark
        %li
          %a{:href => "#", :title => "phone link"}
            %span.fa.fa-phone-square.fs35.text-system
        %li
          %a{:href => "#", :title => "email link"}
            %span.fa.fa-envelope-square.fs35.text-muted
        %li.hidden
          %a{:href => "#", :title => "external link"}
            %span.fa.fa-external-link-square.fs35.text-muted
.p25.pt35
  .row
    - if !@global_notices.nil?
      .col-md-4
        %h4.page-header.mtn.br-light.text-muted.hidden Información al Usuario
        .panel
          .panel-heading
            %span.panel-icon
              %i.fa.fa-star
            %span.panel-title Avisos
          .panel-body.pb5
            - @global_notices.each do |gn|
              %h6.text-muted.fs13= 'Para: ' + current_user.first_name.to_s + current_user.paternal_surname.to_s + ' ' + current_user.maternal_surname.to_s
              %h4= gn.title
              %p.text-muted= gn.description
              %hr.short.br-lighter/
            
    - if !@individual_notices.nil?
      .col-md-8
        .panel
          .panel-heading
            %span.panel-icon
              %i.fa.fa-pencil
            %span.panel-title Avisos Personales
          .panel-body.pb5
            - @individual_notices.each do |ino|
              %h6.text-muted.fs13= 'Para: ' + current_user.first_name.to_s + ' ' + current_user.paternal_surname.to_s + ' ' + current_user.maternal_surname.to_s
              %h4= ino.title
              %p.text-muted= ino.description
              %hr.short.br-lighter/
            
    .col-md-8
      %h4.page-header.text-muted.mtn.br-light.hidden User Activity
      .admin-form.hidden
        .panel.mb30
          %label.field.prepend-icon
            %textarea#comment.gui-textarea.br-light.h-60{:name => "comment", :placeholder => "Text area"}
            %label.field-icon{:for => "comment"}
              %i.fa.fa-comments
            %span.input-footer.hidden
              %strong> Hint:
              Don't be negative or off topic! just be awesome...
          .panel-footer.text-right.br-t-n.p8
            %button.btn.btn-primary.p4.ph10{:type => "button"} Comment
      .tab-block.psor
        %a.profile-settings-icon{:href => "#account-form"}
          %span.fa.fa-gear.fs16.text-muted
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} Activity
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} Social
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} Media
          %li.pull-right.hidden
            %a.ph15{"data-toggle" => "tab", :href => "#tab4"}
              %span.fa.fa-gear.fs14
        .tab-content{:style => "height: 725px;"}
          #tab1.tab-pane.active.p15
            .media.pb10
              %a.pull-left{:href => "#"}
                = image_tag "avatars/4.jpg", alt: "", title: "avat4", class: 'media-object mn thumbnail mw50'
              .media-body
                %h5.media-heading.mb20
                  Simon Rivers Posted
                  %small - 3 hours ago
                = image_tag "stock/1.jpg", alt: "", title: "img5", class: 'mw140 mr25 mb20'
                = image_tag "stock/2.jpg", alt: "", title: "img5", class: 'mw140 mr25 mb20'
                = image_tag "stock/3.jpg", alt: "", title: "img5", class: 'mw140 mb20'
                .media-links
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-thumbs_up.text-primary.mr5
                    Like
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-share.text-primary.mr5
                    Share
                  %span.text-light.fs12.mr10
                    %span.glyphicon.glyphicon-floppy-save.text-primary.mr5
                    Save
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-chat.text-primary.mr5
                    Comment
            .media.pb15
              %a.pull-left{:href => "#"}
                = image_tag "avatars/3.jpg", alt: "", title: "avat5", class: 'media-object mn thumbnail thumbnail-sm rounded mw40'
              .media-body.mb5
                %h5.media-heading.mbn
                  Simon Rivers Posted
                  %small - 3 hours ago
                %p Omg so freaking sweet dude.
                .media.pb10
                  %a.pull-left{:href => "#"}
                    = image_tag "avatars/4.jpg", alt: "", title: "avat4", class: 'media-object mn thumbnail thumbnail-sm rounded mw40'
                  .media-body.mb5
                    %h5.media-heading.mbn
                      Jessica Wong
                      %small - 3 hours ago
                    %p Omgosh I'm in love
                .media.mtn
                  %a.pull-left{:href => "#"}
                    = image_tag "avatars/3.jpg", alt: "", title: "avat5", class: 'media-object mn thumbnail thumbnail-sm rounded mw40'
                  .media-body.mb5
                    %h5.media-heading.mbn
                      Jessica Wong
                      %small - 3 hours ago
                    %p Omgosh I'm in love
            .media.pb15
              %a.pull-left{:href => "#"}
                = image_tag "avatars/5.jpg", alt: "", title: "avat5", class: 'media-object thumbnail mw50'
              .media-body
                %h5.media-heading.mb20
                  Simon Rivers Posted
                  %small - 3 hours ago
                = image_tag "stock/4.jpg", alt: "", title: "img4", class: 'mw140 mr25 mb20'
                = image_tag "stock/2.jpg", alt: "", title: "img2", class: 'mw140 mr25 mb20'
                = image_tag "stock/5.jpg", alt: "", title: "img5", class: 'mw140 mb20'
                .media-links
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-thumbs_up.text-primary.mr5
                    Like
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-share.text-primary.mr5
                    Share
                  %span.text-light.fs12.mr10
                    %span.glyphicon.glyphicon-floppy-save.text-primary.mr5
                    Save
                  %span.text-light.fs12.mr10
                    %span.glyphicons.glyphicons-chat.text-primary.mr5
                    Comment
            .admin-form.hidden
              .panel.mb30
                %label.field.prepend-icon
                  %textarea#comment.gui-textarea.br-light.h-50{:name => "comment", :placeholder => "Text area"}
                  %label.field-icon{:for => "comment"}
                    %i.fa.fa-comments
                  %span.input-footer
                    %strong> Hint:
                    Don't be negative or off topic! just be awesome...
                .panel-footer.text-right.br-t-n.p8.hidden
                  %button.btn.btn-primary.p4.ph10{:type => "button"} Comment
          #tab2.tab-pane
          #tab3.tab-pane
          #tab4.tab-pane

- if !@count_notices.nil?
  - if @count_notices > 0
    #modal-text.popup-basic.p25.mfp-with-anim.mfp-hide
      %h2.lh30.mt15.text-center
        %b.text-primary= @notices.title
      %p.text-center= @notices.description
      %br
      - if @notices.attachment.exists?
        %img{:src => @notices.attachment.url, :alt => @notices.title.downcase}

:javascript
  $(document).ready(function() {

    if(#{@count_notices.to_i} > 0){
      $.magnificPopup.open({
        removalDelay: 500,
        items: {
          src: '#modal-text'
        },
        // overflowY: 'hidden', // 
        callbacks: {
          beforeOpen: function(e) {
            this.st.mainClass = 'mfp-zoomOut';
          }
        },
        midClick: true
      });
    }
  });