.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@student, :url => enrolment_path, :action => 'PATCH', html: {id: 'admin-form', autocomplete: 'off' , autocomplete: 'off' }) do |f|
          .panel-body
            .section-divider.mb40.mt20
              %span Datos del Alumno
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "first_name"}
                  = f.input :first_name, placeholder: "Primer Nombre", input_html: { id: 'firstname', class: 'gui-input', style: 'text-transform: uppercase' }, label: false, :wrapper => false
                  %label.field-icon{:for => "first_name"}
                    %i.fa.fa-user
              
              .col-md-6
                %label.field.prepend-icon{:for => "second_name"}
                  = f.input :second_name, placeholder: "Segundo Nombre", input_html: { id: 'secondname', class: 'gui-input', style: 'text-transform: uppercase' }, label: false, :wrapper => false
                  %label.field-icon{:for => "second_name"}
                    %i.fa.fa-user
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "paternal_surname"}
                  = f.input :paternal_surname, placeholder: "Apellido Paterno", input_html: { id: 'surnames', class: 'gui-input', style: 'text-transform: uppercase' }, label: false, :wrapper => false
                  %label.field-icon{:for => "surnames"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "maternal_surname"}
                  = f.input :maternal_surname, placeholder: "Apellido Materno", input_html: { id: 'surnames', class: 'gui-input', style: 'text-transform: uppercase' }, label: false, :wrapper => false
                  %label.field-icon{:for => "surnames"}
                    %i.fa.fa-mobile-phone

            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "date_of_birth"}
                  = f.input :date_of_birth, as: :string, placeholder: "Fecha de Nacimiento", input_html: { id: 'date_of_birth', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "date_of_birth"}
                    %i.fa.fa-user
              .col-md-6
                %label.field.select
                  %select#last_grade{:name =>"student[last_grade]"}
                    %option{:value => nil}
                      Seleccione Grado/Sección anterior
                    - @sectionsDegrees.each do |section|
                      - if @student.last_grade == section.id
                        %option{:value => "#{section.id}", :selected => true}
                          = section.degree.name.to_s + ' - ' + section.name
                      - else
                        %option{:value => "#{section.id}"}
                          = section.degree.name.to_s + ' - ' + section.name
                  %i.arrow.double
            .section.row
              .col-md-6
                %label.field.select
                  %select#sectionsDegree{:name =>"student[sections_degree_id]"}
                    %option{:value => nil}
                      Seleccione Grado/Sección perteneciente
                    - @sectionsDegrees.each do |section|
                      - if @student.sections_degree_id == section.id
                        %option{:value => "#{section.id}", :selected => true}
                          = section.degree.name.to_s + ' - ' + section.name
                      - else
                        %option{:value => "#{section.id}"}
                          = section.degree.name.to_s + ' - ' + section.name
                  %i.arrow.double
              .col-md-6
                %label.field.prepend-icon{:for => "dni"}
                  = f.input :dni, placeholder: "DNI", input_html: { id: 'dni', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "dni"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.option.block.option-primary.mt10
                  = f.check_box :pay, :label => false, :wrapper => false, :input_html => { :class => 'boolean', :id => 'student_pay' }
                  %span.checkbox
                  Pago de Matricula
            / end section
            .section-divider.mb40.mt20
              %span Datos del 1er Apoderado

            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "representative_first_name"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_first_name]", :placeholder => "Primer Nombre", :type => "text", :value => @student.student_details.first.representative_first_name}/
                  %label.field-icon{:for => "representative_first_name"}
                    %i.fa.fa-user
              
              .col-md-6
                %label.field.prepend-icon{:for => "representative_second_name"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_second_name]", :placeholder => "Segundo Nombre", :type => "text", :value => @student.student_details.first.representative_second_name}/
                  %label.field-icon{:for => "representative_second_name"}
                    %i.fa.fa-user
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "representative_paternal_surname"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_paternal_surname]", :placeholder => "Apellido Paterno", :type => "text", :value => @student.student_details.first.representative_paternal_surname}/
                  %label.field-icon{:for => "representative_paternal_surname"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "representative_maternal_surname"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_maternal_surname]", :placeholder => "Apellido Materno", :type => "text", :value => @student.student_details.first.representative_maternal_surname}/
                  %label.field-icon{:for => "representative_maternal_surname"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "representative_email_1"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_email_1]", :placeholder => "Email 1", :type => "email", :value => @student.student_details.first.representative_email_1}/
                  %label.field-icon{:for => "representative_email_1"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "representative_email_2"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_email_2]", :placeholder => "Email 2", :type => "email", :value => @student.student_details.first.representative_email_2}/
                  %label.field-icon{:for => "representative_email_2"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "place_work_1"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][place_work_1]", :placeholder => "Lugar de Trabajo", :type => "text", :value => @student.student_details.first.place_work_1}/
                  %label.field-icon{:for => "place_work_1"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "phone_work_1"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][phone_work_1]", :placeholder => "Numero del Trabajo", :type => "text", :value => @student.student_details.first.phone_work_1}/
                  %label.field-icon{:for => "phone_work_1"}
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "dni_1"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][dni_1]", :placeholder => "DNI", :type => "text", :value => @student.student_details.first.dni_1}/
                  %label.field-icon{:for => "dni_1"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "representative_celphone_1"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_celphone_1]", :placeholder => "DNI", :type => "text", :value => @student.student_details.first.representative_celphone_1}/
                  %label.field-icon{:for => "representative_celphone_1"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon
                  %textarea.gui-textarea{:name => "student[student_details_attributes][" + @reg_n.to_s + "][address]", :placeholder => "Dirección", :value => @student.student_details.first.address}
                  %label.field-icon{:for => "comment"}
                    %i.fa.fa-comments
                  %span.input-footer
                    Ingresar la dirección domiciliaria.
            / end section

            .section-divider.mb40.mt20
              %span Datos del 2do Apoderado

            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_first_name"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_first_name]", :placeholder => "Primer Nombre", :type => "text", :value => @student.student_details.first.second_representative_first_name}/
                  %label.field-icon{:for => "second_representative_first_name"}
                    %i.fa.fa-user
              
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_second_name"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_second_name]", :placeholder => "Segundo Nombre", :type => "text", :value => @student.student_details.first.second_representative_second_name}/
                  %label.field-icon{:for => "second_representative_second_name"}
                    %i.fa.fa-user
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_paternal_surname"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_paternal_surname]", :placeholder => "Apellido Paterno", :type => "text", :value => @student.student_details.first.second_representative_paternal_surname}/
                  %label.field-icon{:for => "second_representative_paternal_surname"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_maternal_surname"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_maternal_surname]", :placeholder => "Apellido Materno", :type => "text", :value => @student.student_details.first.second_representative_maternal_surname}/
                  %label.field-icon{:for => "second_representative_maternal_surname"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_email_1"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_email_1]", :placeholder => "Email 1", :type => "email", :value => @student.student_details.first.second_representative_email_1}/
                  %label.field-icon{:for => "second_representative_email_1"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "second_representative_email_2"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_representative_email_2]", :placeholder => "Email 2", :type => "email", :value => @student.student_details.first.second_representative_email_2}/
                  %label.field-icon{:for => "second_representative_email_2"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "place_work_2"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][place_work_2]", :placeholder => "Lugar de Trabajo", :type => "text", :value => @student.student_details.first.place_work_2}/
                  %label.field-icon{:for => "place_work_2"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "phone_work_2"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][phone_work_2]", :placeholder => "Numero del Trabajo", :type => "text", :value => @student.student_details.first.phone_work_2}/
                  %label.field-icon{:for => "phone_work_2"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "dni_2"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][dni_2]", :placeholder => "DNI", :type => "text", :value => @student.student_details.first.dni_2}/
                  %label.field-icon{:for => "dni_2"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "representative_celphone_2"}
                  %input.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][representative_celphone_2]", :placeholder => "DNI", :type => "text", :value => @student.student_details.first.representative_celphone_2}/
                  %label.field-icon{:for => "representative_celphone_2"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon
                  %textarea.gui-textarea{:name => "student[student_details_attributes][" + @reg_n.to_s + "][second_address]", :placeholder => "Dirección", :value => @student.student_details.first.address}
                  %label.field-icon{:for => "comment"}
                    %i.fa.fa-comments
                  %span.input-footer
                    Ingresar la dirección domiciliaria.
            / end section

            .section-divider.mb40.mt20
              %span Seguro Médico

            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "health_insurance"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][health_insurance]", :placeholder => "Seguro Médico", :type => "text", :value => @student.student_details.first.health_insurance}/
                  %label.field-icon{:for => "health_insurance"}
                    %i.fa.fa-mobile-phone
              .col-md-6
                %label.field.prepend-icon{:for => "health_phone"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][health_phone]", :placeholder => "Teléfono", :type => "text", :value => @student.student_details.first.health_phone}/
                  %label.field-icon{:for => "health_phone"}
                    %i.fa.fa-mobile-phone
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "affiliate_number"}
                  %input.timepicker.gui-input{:name => "student[student_details_attributes][" + @reg_n.to_s + "][affiliate_number]", :placeholder => "Número del Afiliado", :type => "text", :value => @student.student_details.first.affiliate_number}/
                  %label.field-icon{:for => "affiliate_number"}
                    %i.fa.fa-mobile-phone
                = hidden_field_tag "student[student_details_attributes][" + @reg_n.to_s + "][id]", @student.student_details.first.id
                = hidden_field_tag "student[student_details_attributes][" + @reg_n.to_s + "][user_id]", @student.id

          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar Matrícula
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{enrolments_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {

    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'student[first_name]': {
          required: true
        },
        'student[paternal_surname]': {
          required: true
        },
        'student[maternal_surname]': {
          required: true
        },
        'student[sections_degree_id]': {
          required: true
        },
        'student[date_of_birth]': {
          required: true
        },
        'student[last_grade]': {
          required: true
        },
        'student[dni]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_first_name]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_second_name]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_paternal_surname]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_maternal_surname]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_email_1]': {
          required: true,
          email: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_email_2]': {
          email: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][place_work_1]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][phone_work_1]': {
          required: function(element){
            return $('#representative-celphone-1').val().length == 0;
          },
          maxlength: 9
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_celphone_1]': {
          required: function(element){
            return $('#phone-work-1').val().length == 0;
          },
          maxlength: 9
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_celphone_2]': {
          maxlength: 9
        },
        'student[student_details_attributes][#{@reg_n.to_s}][address]': {
          required: true
        },  
        'student[student_details_attributes][#{@reg_n.to_s}][dni_1]': {
          required: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][second_representative_email_1]': {
          email: true
        },
        'student[student_details_attributes][#{@reg_n.to_s}][second_representative_email_2]': {
          email: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'student[first_name]': {
          required: 'Ingresar Primer nombre'
        },
        'student[paternal_surname]': {
          required: 'Ingresar Apellido Paterno'
        },
        'student[maternal_surname]': {
          required: 'Ingresar Apellido Materno'
        },
        'student[date_of_birth]': {
          required: 'Ingresar Fecha de Nacimiento'
        },
        'student[last_grade]': {
          required: 'Ingresar Último Grado'
        },
        'student[dni]': {
          required: 'Ingresar DNI'
        },
        'student[sections_degree_id]': {
          required: 'Ingresar al Grado que pertenecerá.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_first_name]': {
          required: 'Ingresar el primer nombre del Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_second_name]': {
          required: 'Ingresar el segundo nombre del Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_paternal_surname]': {
          required: 'Ingresar el primer apellido del Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_maternal_surname]': {
          required: 'Ingresar el segun apellido del Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_email_1]': {
          required: 'Ingresar el email del Apoderado.',
          email: 'Ingresar un email válido.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_email_2]': {
          email: 'Ingresar un email válido.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][place_work_1]': {
          required: 'Ingresar el Lugar de Trabajo del Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][phone_work_1]': {
          required: 'Este campo es requerido si no se tiene el celular ingresado.',
          maxlength: 'Como máximo 9 dígitos'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_celphone_1]': {
          required: 'Este campo es requerido si no se tiene el telefono fijo ingresado.',
          maxlength: 'Como máximo 9 dígitos'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][representative_celphone_2]': {
          maxlength: 'Como máximo 9 dígitos'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][address]': {
          required: 'Ingresar la dirección del Apoderado.'
        },  
        'student[student_details_attributes][#{@reg_n.to_s}][dni_1]': {
          required: 'Ingresar el DNI Apoderado.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][second_representative_email_1]': {
          email: 'Ingresar un email válido.'
        },
        'student[student_details_attributes][#{@reg_n.to_s}][second_representative_email_2]': {
          email: 'Ingresar un email válido.'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });


    $('#date_of_birth').keypress(function(e){
      e.preventDefault();
    });
  });