.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Matriculados
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Edad
            %th Pagó?
            %th Acciones
        %tbody
          - @enrolments.each do |enrolment|
            %tr
              %td
                = enrolment.first_name.to_s.capitalize + ' ' + enrolment.second_name.to_s.capitalize + ' ' + enrolment.paternal_surname.to_s.capitalize + ' ' + enrolment.maternal_surname.to_s.capitalize
              %td
                = (enrolment.date_of_birth.year - Time.now.to_date.year).to_i*-1 rescue 0
              %td
                - if !enrolment.pay
                  %span.label.label-danger.mr5.mb10.ib.lh15
                    No Pagó
                - else
                  %span.label.label-success.mr5.mb10.ib.lh15
                    Pagó
              %td
                %a.btn.btn-warning{:href => "#{edit_enrolment_path(enrolment.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{enrolment_path(enrolment.id)}", 'data-method' => 'DELETE'}
                  Eliminar