.bg-light.dark.p30.br-b.br-grey
  %p.lead.mb30
    Matriculados
  .input-group.input-group-merge.input-hero.mb10
    %a.btn.btn-primary.btn-block{:href => "#{new_enrolment_path}"}
      Crear nueva matrícula
  - if flash[:notice] !=nil
    %p.lead.mb30
      %b.text-warning
        = flash[:notice]
  - if flash[:error] != nil
    %p.lead.mb30
      %b.text-danger
        = flash[:error]

.tab-block.p20.mt10
  %section
    = render :partial => 'table'