.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@notice, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section-divider.mb40.mt20
              %span Datos de la Noticia

            #alert-1.alert.alert-info.light.alert-dismissable
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              %i.fa.fa-info.pr10
              %strong Aviso!
              Si marcas la noticia como
              %a.alert-link{:href => "#"} Importante
              , esta aparecerá como modal cuando los usuarios o usuario entre al sistema.
            #alert-2.alert.alert-info.light.alert-dismissable
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              %i.fa.fa-info.pr10
              %strong Aviso!
              Los archivos solo pueden ser formato de imagen como
              %a.alert-link{:href => "#"} PNG, JPG, JPEG, GIF
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "date_of_issue"}
                  = f.input :date_of_issue, as: :string, placeholder: "Fecha Limite", input_html: { id: 'date_of_issue', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "date_of_issue"}
                    %i.fa.fa-user
              .col-md-6
                %label.field.prepend-icon{:for => "title"}
                  = f.input :title, placeholder: "Titulo", input_html: { id: 'title', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "title"}
                    %i.fa.fa-user
            .section.row
              .col-md-12
                %label.field.prepend-icon{:for => "description"}
                  = f.input :description, placeholder: "Cuerpo de la Noticia", input_html: { id: 'description', class: 'gui-textarea' }, label: false, :wrapper => false
                  %label.field-icon{:for => "description"}
                    %i.fa.fa-comments
            .section.row
              .col-md-7
                %label.field.prepend-icon.append-button.file{:for => "silabus"}
                  %span.button.btn-primary Seleccionar Archivo
                  = f.input :attachment, as: :file, label: false, :wrapper => false, input_html: { id: 'file', class: 'gui-file', :onchange => "document.getElementById('uploader').value = this.value;"}
                  %input#uploader.gui-input{:placeholder => "Por favor, seleccione un archivo", :type => "text"}/
                  %label.field-icon{:for => "silabus"}
                    %i.fa.fa-upload
                - if @notice.attachment.exists?
                  .alert.alert-sm.alert-border-left.alert-primary.light.alert-dismissable
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
                    %i.fa.fa-cubes.pr10.hidden
                    %strong Aviso!
                    Este curso ya tiene un
                    %a.alert-link{:href => "#"} Silabus
                    cargado, pero puedes reemplazarlo.
              .col-md-3
                %label.option.block.option-primary.mt10{:for => "global_notice"}
                  = f.check_box :global_notice, { :class => 'boolean', :id => 'global_notice' }
                  %span.checkbox
                  Noticia Global?
                %label.option.block.option-primary.mt10{:for => "important"}
                  = f.check_box :important, { :class => 'boolean', :id => 'important' }
                  %span.checkbox
                  Importante?

            #divide1.section-divider.mb40.mt20
              %span ¿A quién/quienes va dirigida la noticia?

            #section-divide1.section.row
              .col-md-1
              .col-md-2
                %label.option.block.option-primary.mt10{:for => "teacher"}
                  = check_box 'notice_teacher', '', {id: 'teacher', class: 'boolean'}
                  %span.checkbox
                  Profesor
              .col-md-2
                %label.option.block.option-primary.mt10{:for => "auxiliary"}
                  = check_box 'notice_auxiliary', '', {id: 'auxiliary', class: 'boolean'}
                  %span.checkbox
                  Auxiliar
              .col-md-2
                %label.option.block.option-primary.mt10{:for => "student"}
                  = check_box 'notice_student', '', {id: 'student', class: 'boolean'}
                  %span.checkbox
                  Alumno
              .col-md-3
                .section
                  %label.field
                    %button.btn.btn-primary#put-destinatary{:type => 'button'} Agregar Destinatario

            #body_dest.section.row
              - if @action == 'edit'
                - @notice.notice_details.each do |detail|
                  .col-md-12
                    = hidden_field_tag "notice[notice_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                    = hidden_field_tag "notice[notice_details_attributes][" + @reg_n.to_s + "][notice_id]", @notice.id
                    - if !detail.teacher_id.nil?
                      .col-md-3
                        %label.field.select
                          %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                            %option{:value => ""} Seleccione algún Profesor
                            - Teacher.all.each do |teacher|
                              - if detail.teacher_id == teacher.id
                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                              - else
                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                          %i.arrow
                    - if !detail.student_id.nil?
                      .col-md-3
                        %label.field.select
                          %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][student_id]"}
                            %option{:value => ""} Seleccione algún Alumno
                            - Student.all.each do |stud|
                              - if detail.student_id == stud.id
                                %option{:value => "#{stud.id}", :selected => true}= stud.first_name.to_s + ' ' + stud.second_name.to_s + ' ' + stud.paternal_surname.to_s + ' ' + stud.maternal_surname.to_s
                              - else
                                %option{:value => "#{stud.id}"}= stud.first_name.to_s + ' ' + stud.second_name.to_s + ' ' + stud.paternal_surname.to_s + ' ' + stud.maternal_surname.to_s
                          %i.arrow
                    - if !detail.auxiliary_id.nil?
                      .col-md-3
                        %label.field.select
                          %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][auxiliary_id]"}
                            %option{:value => ""} Seleccione algún Auxiliar
                            - Auxiliary.all.each do |aux|
                              - if detail.auxiliary_id == aux.id
                                %option{:value => "#{aux.id}", :selected => true}= aux.first_name.to_s + ' ' + aux.second_name.to_s + ' ' + aux.paternal_surname.to_s + ' ' + aux.maternal_surname.to_s
                              - else
                                %option{:value => "#{aux.id}"}= aux.first_name.to_s + ' ' + aux.second_name.to_s + ' ' + aux.paternal_surname.to_s + ' ' + aux.maternal_surname.to_s
                          %i.arrow
                  - @reg_n += 1
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar Noticia
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{notices_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
    
  $(document).ready(function () {

    $('#global_notice').click(function(){
      if($(this).is(":checked")){
        $('#divide1').fadeOut('fast');
        $('#section-divide1').fadeOut('fast');
      } else {
        $('#divide1').fadeIn('fast');
        $('#section-divide1').fadeIn('fast');
      }
    });

    $('#put-destinatary').click(function(){
      teacher_destiny = 0; auxiliary_destiny = 0; student_destiny = 0;

      if( $('#teacher').is(':checked') ){ teacher_destiny = $('#teacher').val(); }
      if( $('#auxiliary').is(':checked') ){ auxiliary_destiny = $('#auxiliary').val(); }
      if( $('#student').is(':checked') ){ student_destiny = $('#student').val(); }
      
      if((teacher_destiny != 0) || (auxiliary_destiny != 0) || (student_destiny != 0)){
        append_url_ajax('#{addRow_notices_path}', 'body_dest', { teacher_selected: teacher_destiny, student_selected: student_destiny, auxiliary_selected: auxiliary_destiny }, 'POST');
      } else {
        new PNotify({
          title: 'Aviso!',
          text: 'Debes especificar a quien va dirigido el aviso.',
          shadow: true,
          opacity: 1,
          addclass: 'stack_top_right',
          type: 'danger',
          width: '300px',
          delay: 2400
        });
      }
    });

    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'notice[title]': {
          required: true
        },
        'notice[description]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'notice[title]': {
          required: 'Ingresar Título'
        },
        'notice[description]': {
          required: 'Ingresar Cuerpo de la Noticia.'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });

  function del_bt(dom){
    $(dom).parent().parent().remove();
  }