.col-md-12
  - if !@teachers.nil?
    .col-md-4
      %label.field.select
        %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
          %option{:value => ""} Seleccione algún Profesor
          - @teachers.each do |teacher|
            %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
        %i.arrow
  - if !@students.nil?
    .col-md-4
      %label.field.select
        %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][student_id]"}
          %option{:value => ""} Seleccione algún Alumno
          - @students.each do |stud|
            %option{:value => "#{stud.id}"}= stud.first_name.to_s + ' ' + stud.second_name.to_s + ' ' + stud.paternal_surname.to_s + ' ' + stud.maternal_surname.to_s
        %i.arrow
  - if !@auxiliaries.nil?
    .col-md-3
      %label.field.select
        %select#section{:name => "notice[notice_details_attributes][" + @reg_n.to_s + "][auxiliary_id]"}
          %option{:value => ""} Seleccione algún Auxiliar
          - @auxiliaries.each do |aux|
            %option{:value => "#{aux.id}"}= aux.first_name.to_s + ' ' + aux.second_name.to_s + ' ' + aux.paternal_surname.to_s + ' ' + aux.maternal_surname.to_s
        %i.arrow
  .col-md-1
    %button.btn.btn-danger.btn-sm.deleted-item{:type => 'button', :onclick => 'del_bt(this)'}
      %i.fa.fa-trash-o