.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Noticias
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th #
            %th Título
            %th Acciones
        %tbody
          - @notices.each do |notice|
            %tr
              %td
                = notice.id.to_s
              %td
                = notice.title.to_s
              %td
                %a.btn.btn-success{:href => "#{notice_path(notice.id)}"}
                  Ver Noticia
                %a.btn.btn-warning{:href => "#{edit_notice_path(notice.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{notice_path(notice.id)}", "data-method" => 'DELETE'}
                  Eliminar