.row
  .col-sm-3.col-lg-3
  .col-sm-6.col-lg-6
    .panel.panel-info.panel-border.top
      .panel-heading
        %span.panel-title= @notice.title.to_s
      .panel-body
        %p.p2= @notice.description.to_s
        %a.btn.btn-info{:href => "#{notices_path}"}
          %i.fa.fa-reply
          Regresar al Listado de Noticias
