.row
  - @notices_important.each do |notice|
    .col-sm-4.col-lg-4
      .panel.panel-info.panel-border.top
        .panel-heading
          %span.panel-title= notice.title.to_s
        .panel-body
          %p.p2= notice.description.to_s
.row
  - @notices_global.each do |notice|
    .col-sm-4.col-lg-4
      .panel.panel-info.panel-border.top
        .panel-heading
          %span.panel-title= notice.title.to_s
        .panel-body
          %p.p2= notice.description.to_s
- if !@individual_notices.nil?
  .row
    - @individual_notices.each do |notice|
      .col-sm-4.col-lg-4
        .panel.panel-info.panel-border.top
          .panel-heading
            %span.panel-title= notice.title.to_s
          .panel-body
            %p.p2= notice.description.to_s