!!!
%html
  %head
    / Meta, title, CSS, favicons, etc.
    %meta{:charset => "utf-8"}/
    %title Colegio | Login
    %meta{:content => "Zachas", :name => "keywords"}/
    %meta{:content => "Zachas Central - Responsive System", :name => "description"}/
    %meta{:content => "Zachas", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Font CSS (Via CDN)
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,500,700,300", :rel => "stylesheet", :type => "text/css"}/
    / Theme CSS
    = stylesheet_link_tag "default_skin/css/theme", media: "screen", rel: "stylesheet", type: "text/css"
    / Admin Forms CSS
    = stylesheet_link_tag "admin-forms/css/admin-forms", media: "screen", rel: "stylesheet", type: "text/css"
    /JS
    = javascript_include_tag 'application'
    / TOKEN
    = csrf_meta_tag
    / Favicon
    %link{:href => "assets/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.external-page.sb-l-c.sb-r-c
    / Start: Main
    #main.animated.fadeIn
      / Start: Content-Wrapper
      %section#content_wrapper
        / begin canvas animation bg
        #canvas-wrapper
          %canvas#demo-canvas
        / Begin: Content
        %section#content
          #login1.admin-form.theme-info
            .row.mb15.table-layout
              .col-xs-6.va-m.pln
                %a{:href => "#{root_path}", :title => "Return to Dashboard"}
                  = image_tag "logos/logo_white.png", alt: "", title: "AdminDesigns Logo", class: 'img-responsive w250'
              .col-xs-6.text-right.va-b.pr5
                .login-links
                  %a{:href => "#{new_user_session_path}", :title => "Sign In"} Sign In
                  %span.text-white |
                  %a.active{:href => "#{new_user_registration_path}", :title => "Register"} Register
            .panel.panel-info.mt10.br-n
              .panel-heading.heading-border.bg-white
                %span.panel-title.hidden
                  %i.fa.fa-sign-in>
                  Register
                .section.row.mn
                  .col-sm-4
                    %a.button.btn-social.facebook.span-left.mr5.btn-block{:href => "#"}
                      %span>
                        %i.fa.fa-facebook
                      Facebook
                  .col-sm-4
                    %a.button.btn-social.twitter.span-left.mr5.btn-block{:href => "#"}
                      %span>
                        %i.fa.fa-twitter
                      Twitter
                  .col-sm-4
                    %a.button.btn-social.googleplus.span-left.btn-block{:href => "#"}
                      %span>
                        %i.fa.fa-google-plus
                      Google+
              / end .form-header section
              = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                .panel-body.bg-light.p30
                  .row
                    = f.error_notification
                    .col-sm-7.pr30
                      .section.row.hidden
                        .col-md-4
                          %a.button.btn-social.facebook.span-left.mr5.btn-block{:href => "#"}
                            %span>
                              %i.fa.fa-facebook
                            Facebook
                        .col-md-4
                          %a.button.btn-social.twitter.span-left.mr5.btn-block{:href => "#"}
                            %span>
                              %i.fa.fa-twitter
                            Twitter
                        .col-md-4
                          %a.button.btn-social.googleplus.span-left.btn-block{:href => "#"}
                            %span>
                              %i.fa.fa-google-plus
                            Google+
                      .section
                        %label.field-label.text-muted.fs18.mb10{:for => "email"} Email
                        %label.field.prepend-icon{:for => "email"}
                          %input#username.gui-input{:autofocus => "autofocus", :name => "user[email]", :placeholder => "Enter Email", :type => "email", :value => ""}/
                          %label.field-icon{:for => "email"}
                            %i.fa.fa-user
                      / end section
                      .section
                        %label.field-label.text-muted.fs18.mb10{:for => "password"} Password
                        %label.field.prepend-icon{:for => "password"}
                          %input#password.gui-input{:name => "user[password]", :placeholder => "Enter Password", :type => "password"}/
                          %label.field-icon{:for => "password"}
                            %i.fa.fa-lock
                      / end section
                      .section
                        %label.field-label.text-muted.fs18.mb10{:for => "password_confirmation"} Password Confirmation
                        %label.field.prepend-icon{:for => "password_confirmation"}
                          %input#password.gui-input{:name => "user[password_confirmation]", :placeholder => "Enter Password Confirmation", :type => "password"}/
                          %label.field-icon{:for => "password_confirmation"}
                            %i.fa.fa-lock
                      / end section
                    .col-sm-5.br-l.br-grey.pl30
                      %h3.mb25 You'll Have Access To Your:
                      %p.mb15
                        %span.fa.fa-check.text-success.pr5
                        Unlimited Email Storage
                      %p.mb15
                        %span.fa.fa-check.text-success.pr5
                        Unlimited Photo Sharing/Storage
                      %p.mb15
                        %span.fa.fa-check.text-success.pr5
                        Unlimited Downloads
                      %p.mb15
                        %span.fa.fa-check.text-success.pr5
                        Unlimited Service Tickets
                / end .form-body section
                .panel-footer.clearfix.p10.ph15
                  %button.button.btn-primary.mr10.pull-right{:type => "submit"} Registrarse
                / end .form-footer section
        / End: Content
      / End: Content-Wrapper
    / End: Main
    / BEGIN: PAGE SCRIPTS
    / jQuery
    = javascript_include_tag 'jquery_ui/jquery-ui.min'
    / Bootstrap
    = javascript_include_tag 'bootstrap/bootstrap.min'
    / Page Plugins
    = javascript_include_tag 'pages/login/EasePack.min'
    = javascript_include_tag 'pages/login/rAF'
    = javascript_include_tag 'pages/login/TweenLite.min'
    = javascript_include_tag 'pages/login/login'
    / Theme Javascript
    = javascript_include_tag 'utility/utility'
    = javascript_include_tag 'main'
    / Page Javascript
    :javascript
      jQuery(document).ready(function() {

          "use strict";

          // Init Theme Core      
          Core.init();

          // Init CanvasBG and pass target starting location
          CanvasBG.init({
              Loc: {
                  x: window.innerWidth / 2,
                  y: window.innerHeight / 3.3
              },
          });


      });
    / END: PAGE SCRIPTS