.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@sectionsDegree, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.select
                  - if @action == 'edit'
                    %select#presentation{:name =>"sections_degree[degree_id]", :disabled => true}
                      %option{:value => nil, :rel => ""}
                        Seleccione Grado
                      - @degrees.each do |degree|
                        - if @sectionsDegree.degree_id == degree.id
                          %option{:value => "#{degree.id}", :selected => true}
                            = degree.name
                        - else
                          %option{:value => "#{degree.id}"}
                            = degree.name
                    %i.arrow.double
                  - else
                    %select#presentation{:name =>"sections_degree[degree_id]"}
                      %option{:value => nil, :rel => "", :selected => true}
                        Seleccione Grado
                      - @degrees.each do |degree|
                        %option{:value => "#{degree.id}"}
                          = degree.name
                    %i.arrow.double
              .col-md-4
                %label.field.prepend-icon{:for => "name"}
                  = f.input :name, placeholder: "Nombre", input_html: { id: 'name', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "name"}
                    %i.fa.fa-user
                  %i.arrow.double
                  
            .section-divider.mb40.mt20
              %span Auxiliares en esta Áula

            .section.row
              .col-md-2
                .section
                  %label.field
                    %button.btn.btn-primary#put-hours{:type => 'button'} Agregar Auxiliar

            .section.row
              .col-md-12
                #alert-1.alert.alert-info.light.alert-dismissable{ :style => 'display:none;' }
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                  %i.fa.fa-info.pr10
                  %strong Bien!
                  Ahora
                  %a.alert-link{:href => "#"} Elige al Auxiliar
                  correspondiente a esta áula

            .section.row
              .col-md-12
                .panel
                  .panel-body.pn
                    %table.table.table-hover
                      %thead
                        %tr.primary
                          %th Auxiliar
                          %th 
                      %tbody#tbl-cont
                        - if @action == 'edit'
                          - @sectionsDegree.section_degree_details.each do |detail|
                            %tr
                              %td
                                %label.field.select
                                  %select#section{:name => "sections_degree[section_degree_details_attributes][" + @reg_n.to_s + "][auxiliary_id]"}
                                    %option{:value => nil} Seleccione Auxiliar
                                    - @auxiliaries.each do |auxiliary|
                                      - if detail.auxiliary_id == auxiliary.id
                                        %option{:value => "#{auxiliary.id}", :selected => true}= auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
                                      - else
                                        %option{:value => "#{auxiliary.id}"}= auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
                                  %i.arrow
                              %td{:style => 'display:none'}
                                = hidden_field_tag "sections_degree[section_degree_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                = hidden_field_tag "sections_degree[section_degree_details_attributes][" + @reg_n.to_s + "][sections_degree_id]", detail.sections_degree_id
                              %td.text-right
                                %label.option.option-danger
                                  = check_box 'sections_degree[section_degree_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                  %span.checkbox
                                  Eliminar?
                            - @reg_n += 1
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar Sección
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{sections_degrees_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'sections_degree[name]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'sections_degree[name]': {
          required: 'Ingresar Nombre'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });

  $('#put-hours').click(function(){
    append_url_ajax("#{addAuxiliaries_sections_degrees_path}", 'tbl-cont', null, 'POST');
    $('#alert-1').slideToggle('fast');
  });

  function del_bt(dom){
    $(dom).parent().parent().remove();
  }