%tr
  %td
    %label.field.select
      %select#section{:name => "sections_degree[section_degree_details_attributes][" + @reg_n.to_s + "][auxiliary_id]"}
        %option{:value => nil} Seleccione Auxiliar
        - @auxiliaries.each do |auxiliary|
          %option{:value => "#{auxiliary.id}"}= auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
      %i.arrow
  %td.text-right
    %button.btn.btn-danger.btn-sm.deleted-item{:type => 'button', :onclick => 'del_bt(this)'}
      %i.fa.fa-trash-o