.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Secciones
    .panel-body.pn
      #tree{:style => "margin-left: 10%;"}
        %ul#treeData{:style => "display: none;"}
          - @degrees.each do |degree|
            %li.folder
              = degree.name.to_s + ' (Secciones: ' + degree.sections_degrees.count.to_i.to_s + ')'
              - degree.sections_degrees.each do |section|
                %ul
                  %li
                    %table.table.table-hover{:cellspacing => "0", :width => "100%"}
                      %tbody
                        - degree.sections_degrees.each do |section|
                          %tr
                            %td
                              = section.name.to_s
                            %td
                              - sectiondetail = SectionDegreeDetail.where("sections_degree_id = ?", section.id).first
                              - auxiliary = User.find(sectiondetail.auxiliary_id)
                              = auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
                            %td
                              %a.btn.btn-warning{:href => "#{edit_sections_degree_path(section.id)}"}
                                Editar
                              %a.btn.btn-danger{:href => "#{sections_degree_path(section.id)}", 'data-method' => 'DELETE'}
                                Eliminar

:javascript
  $(document).ready(function() {
    $("#tree").fancytree({
      icons: false, // Display node icons.
      clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
    });
  });