/ begin: .admin-form
.admin-form.theme-primary
  #p1.panel.heading-border.panel-primary
    = simple_form_for(@timetable, html: {id: 'form-ui', autocomplete: 'off' }) do |f|
      .panel-body.bg-light
        #spy1.section-divider.mb40
          %span Seleccionar Grado/Sección
        / .section-divider
        / Basic Inputs
        .row
          .col-md-8
            .section
              %label.field.select
                %select#section{:name => "timetable[sections_degree_id]"}
                  %option{:value => ""} Seleccione alguna Sección
                  - @sectionDegrees.each do |section|
                    - if @timetable.sections_degree_id == section.id
                      %option{:value => "#{section.id}", :selected => true}= section.degree.name.to_s + ' - ' + section.name.to_s
                    - else
                      %option{:value => "#{section.id}"}= section.degree.name.to_s + ' - ' + section.name.to_s
                %i.arrow
          .col-md-4.text-right
            %a.btn.btn-success{:href => "#{timetables_path}"}
              %i.fa.fa-reply
              Regresar al listado de Horarios.
        / Input Icons
        #spy2.section-divider.mb40
          %span Ingresar Horario.
        .row
          .col-md-12
            #alert-1.alert.alert-info.light.alert-dismissable{ :style => 'display:none;' }
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              %i.fa.fa-info.pr10
              %strong Bien!
              Ahora
              %a.alert-link{:href => "#"} llena los detalles
              para el horario
        .row
          .col.sm-12.col-md-12
            .panel
              .panel-heading
                %ul.nav.panel-tabs-border.panel-tabs.panel-tabs-left
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#tab2_1"} Lunes
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab2_2"} Martes
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab2_3"} Miercoles
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab2_4"} Jueves
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab2_5"} Viernes
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab2_6"} Sábados
              .panel-body
                .tab-content.pn.br-n
                  #tab2_1.tab-pane.active
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
                  #tab2_2.tab-pane
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
                  #tab2_3.tab-pane
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
                  #tab2_4.tab-pane
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
                  #tab2_5.tab-pane
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
                  #tab2_6.tab-pane
                    .row
                      .col.sm-12.col-md-12
                        .panel
                          .panel-body.pn
                            %table.table.table-hover
                              %thead
                                %tr.primary
                                  %th Día
                                  %th Curso
                                  %th Profesor
                                  %th Horario
                                  %th 
                              %tbody#tbl-cont
                                - if @action == 'edit'
                                  - @timetable.timetable_details.each do |detail|
                                    %tr
                                      %td
                                        %label.field.select
                                          %select#section{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
                                            %option{:value => nil} Seleccione Día
                                            - @days.each do |day|
                                              - if day.to_s.downcase == detail.day.to_s.downcase
                                                %option{:value => "#{day.to_s.downcase}", :selected => true}= day.to_s
                                              - else 
                                                %option{:value => "#{day.to_s.downcase}"}= day.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]"}
                                            %option{:value => nil} Seleccione algún curso
                                            - @courses.each do |course|
                                              - if detail.course_id == course.id
                                                %option{:value => "#{course.id}", :selected => true}= course.name.to_s
                                              - else
                                                %option{:value => "#{course.id}"}= course.name.to_s
                                          %i.arrow
                                      %td
                                        %label.field.select
                                          %select#teacher{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]"}
                                            %option{:value => nil} Seleccione algún Profesor
                                            - @teachers.each do |teacher|
                                              - if detail.teacher_id == teacher.id
                                                %option{:value => "#{teacher.id}", :selected => true}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                              - else
                                                %option{:value => "#{teacher.id}"}= teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                                          %i.arrow
                                      %td
                                        %label.field.prepend-picker-icon{:for => "start_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][start_hour]", :placeholder => "Hora de Inicio", :type => "text", :value => (detail.start_hour.strftime('%H:%M') rescue '')}
                                        %label.field.prepend-picker-icon{:for => "end_hour"}
                                          %input.timepicker.gui-input{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][end_hour]", :placeholder => "Hora de Fin", :type => "text", :value => (detail.end_hour.strftime('%H:%M') rescue '')}/
                                      %td{:style => 'display:none'}
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                        = hidden_field_tag "timetable[timetable_details_attributes][" + @reg_n.to_s + "][timetable_id]", detail.timetable_id
                                      %td.text-right
                                        %label.option.option-danger
                                          = check_box 'timetable[timetable_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                          %span.checkbox
                                          Eliminar?
                                    - @reg_n += 1
                    / Input Formats
                    .row
                      .col-md-2
                        .section
                          %label.field
                            %button.btn.btn-primary.put-hours{:type => 'button'} Definir Horario
      .panel-footer.text-right
        %button.button.btn-primary{:type => 'submit'} Guardar
        %button.button{:type => 'reset'} Cancelar
        / end: .admin-form
    %a(href="#{timetables_path}" class="btn btn-primary" role="button")
      Volver

:javascript

  loadScript("#{ asset_path 'admin-forms/js/jquery-ui-timepicker.min', type: :javascript }");
  loadScript("#{ asset_path 'utility/utility', type: :javascript }");
  
  $(document).ready(function(){

    $( "#form-ui" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'timetable[sections_degree_id]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'timetable[sections_degree_id]': {
          required: 'Ingresar el Grado/Sección'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }
                    
    });  

  });

  $(window).load(function(){
    $('input.timepicker').timepicker({
      showOn: 'both',
      buttonText: '<i class="fa fa-clock-o"></i>',
      beforeShow: function(input, inst) {
        var newclass = 'admin-form';
        var themeClass = $(this).parents('.admin-form').attr('class');
        var smartpikr = inst.dpDiv.parent();
        if (!smartpikr.hasClass(themeClass)) {
          inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
        }
      }
    });
  })

  $('.put-hours').click(function(){
    str = $(this).parent().parent().parent().parent().parent().attr('id') + ' tbody'
    if($('#section').val() !== ""){
      section_id = $('#section').val();
      append_url_ajax("#{addMoreRows_timetables_path}", str, {section_id: section_id}, 'POST');
      $('#alert-1').slideToggle('fast');
    } else {
      new PNotify({
        title: 'Alerta! Al agregar un horario.',
        text: 'Especifica el Grado/Sección.',
        shadow: true,
        opacity: 1,
        addclass: 'stack_top_right',
        type: 'danger',
        width: '300px',
        delay: 2400
      });
    }
  });

  function validate_hours(element,fieldname){

    var hora_inicio= document.getElementById("timetable_timetable_details_attributes_"+element+"_start_hour").value;
    var hora_fin= document.getElementById("timetable_timetable_details_attributes_"+element+"_end_hour").value;

    if(hora_inicio>=hora_fin && hora_fin!=''){
      if(fieldname==1){
        document.getElementById("timetable_timetable_details_attributes_"+element+"_start_hour").value = '';
      }else{
        document.getElementById("timetable_timetable_details_attributes_"+element+"_end_hour").value = '';
      };
      new PNotify({
        title: 'Alerta! Error en las horas.',
        text: 'La hora inicio no puede ser mayor o igual a la hora de fin.',
        shadow: true,
        opacity: 1,
        addclass: 'stack_top_right',
        type: 'danger',
        width: '300px',
        delay: 2400
      });
    }

    if(fieldname==1){
      var thishour = document.getElementById("timetable_timetable_details_attributes_"+element+"_start_hour").value;
    }else{
      var thishour = document.getElementById("timetable_timetable_details_attributes_"+element+"_end_hour").value;
    };
    var hours = document.getElementsByClassName("form-control quantity");
    var nummayor = 0
    $.each(hours, function(){
      var the_string = $(this).val();
      var parts = the_string.split(':', 2);
      var the_hours = Number(parts[0]);
      var the_minutes  = Number(parts[1]);
      var numeromayor = (the_hours*60)+the_minutes
      if(numeromayor>nummayor){
        nummayor = Number($(this).val());
      }
    });
    if(nummayor>thishour){
      if(fieldname==1){
        document.getElementById("timetable_timetable_details_attributes_"+element+"_start_hour").value = '';
      }else{
        document.getElementById("timetable_timetable_details_attributes_"+element+"_end_hour").value = '';
      };
      new PNotify({
        title: 'Alerta! Error en las horas.',
        text: 'Ya existe clase para esta hora.',
        shadow: true,
        opacity: 1,
        addclass: 'stack_top_right',
        type: 'danger',
        width: '300px',
        delay: 1200
      });
    }  

    
  }

  function del_bt(dom){
    $(dom).parent().parent().remove();
  }

  function update_teachers(element){
    var url="#{complete_timetables_path}";
    var chosen= document.getElementById("timetable[timetable_details_attributes]["+element+"][course_id]").value;
    console.log(chosen);
    var form_token="#{form_authenticity_token}";
    var default_value=0;
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { chosen: chosen, authenticity_token: form_token}
    }).done(function( data ) {
      newOptions = [];
      $.each(data.combo, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $("#"+element).empty();
      $("#"+element).append(
          $("<option></option>").attr("value", "0").text("Seleccione algún Profesor").attr("selected","selected")
        )
      $.each(newOptions, function(key,value){
        $("#"+element).append(
          $("<option></option>").attr("value", value.id).text(value.name)
        )
      });
    });
  }