%tr
  %td
    %label.field.select
      %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][day]"}
        %option{:value => nil} Seleccione Día
        - @days.each do |day|
          %option{:value => "#{day.to_s.downcase}"}= day.to_s
      %i.arrow
  %td
    %label.field.select
      %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", :id => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][course_id]", onchange: "update_teachers(" + @reg_n.to_s + ");"}
        %option{:value => nil} Seleccione algún curso
        - @courses.each do |course|
          %option{:value => "#{course.id}"}= course.name.to_s
      %i.arrow
  %td
    %label.field.select
      %select{:name => "timetable[timetable_details_attributes][" + @reg_n.to_s + "][teacher_id]", :id => @reg_n.to_s}
        %option{:value => nil} Seleccione algún Profesor
      %i.arrow
  %td
    %div
      = text_field_tag 'timetable[timetable_details_attributes][' + @reg_n.to_s + '][start_hour]', '' , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', :placeholder => "Hora de Inicio", onchange: "validate_hours(" + @reg_n.to_s + ",1);"
      = text_field_tag 'timetable[timetable_details_attributes][' + @reg_n.to_s + '][end_hour]', '' , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', :placeholder => "Hora de Fin", onchange: "validate_hours(" + @reg_n.to_s + ",2);"
  %td.text-right
    %button.btn.btn-danger.btn-sm.deleted-item{:type => 'button', :onclick => 'del_bt(this)'}
      %i.fa.fa-trash-o

:javascript

  $('input.timepicker').timepicker({
    showOn: 'both',
    buttonText: '<i class="fa fa-clock-o"></i>',
    beforeShow: function(input, inst) {
      var newclass = 'admin-form';
      var themeClass = $(this).parents('.admin-form').attr('class');
      var smartpikr = inst.dpDiv.parent();
      if (!smartpikr.hasClass(themeClass)) {
        inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
      }
    }
  });

  $('input.timepicker').keypress(function(e){
    e.preventDefault();
  });