.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Horarios
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th #
            %th Sección
            %th Acciones
        %tbody
          - @timetables.each do |timetable|
            %tr
              %td
                = timetable.id.to_s
              %td
                = timetable.sections_degree.degree.name.to_s + ' - ' + timetable.sections_degree.name.to_s
              %td
                %a.btn.btn-primary{:href => "#{timetable_path(timetable.id)}"}
                  Ver Horario
                %a.btn.btn-warning{:href => "#{edit_timetable_path(timetable.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{timetable_path(timetable.id)}", 'data-method' => 'DELETE'}
                  Eliminar