.tray.tray-center.va-t.posr.animated-delay.animated-long{"data-animate" => "[\"800\",\"fadeIn\"]"}
  .mw1100.center-block
    %h2.lh30.mt10.text-center
      %b.text-primary Crear nuevo Horario
    = render :partial => 'form'