.tray.tray-center.va-t.posr
  .panel
    .panel-heading.text-center
      %span.panel-title
        %span.glyphicons.glyphicons-table>
        = "Horario para " + @timetable.sections_degree.degree.name.to_s + ' - ' + @timetable.sections_degree.name.to_s
  .row#spy1
    .col-sm-12.col-md-12.col-lg-12
      .panel
        .panel-body.pn
          %table.table.table-hover
            %thead
              %tr.primary
                %th 
                  %strong Hora
                - @days.each do |day|
                  %th{:style => 'text-align:center;'}
                    %strong= day
            %tbody
              - @hours.each do |hour|
                - if !hour.start_hour.nil? && !hour.end_hour.nil?
                  %tr
                    %td= hour.start_hour.strftime('%H:%M') + ' - ' + hour.end_hour.strftime('%H:%M')
                    - @days.each do |day|
                      - @timetable.timetable_details.where(:day => day).where(:start_hour => hour.start_hour).each do |detail|
                        %td{:style => 'text-align:center;'}
                          = detail.course.name.to_s
                          %br
                          - if !detail.teacher.nil?
                            %span.label.label-success.mr5.mb10.ib.lh15= 'Prof. ' + detail.teacher.paternal_surname.to_s + ' ' + detail.teacher.maternal_surname.to_s + ', ' + detail.teacher.first_name.to_s
                          - else
                            %span.label.label-success.mr5.mb10.ib.lh15= '-'
                - elsif !hour.start_hour.nil?
                  %tr
                    %td= hour.start_hour.strftime('%H:%M') + ' - ' + ' - '
                    - @days.each do |day|
                      - @timetable.timetable_details.where(:day => day).where(:start_hour => hour.start_hour).each do |detail|
                        %td{:style => 'text-align:center;'}
                          = detail.course.name.to_s
                          %br
                          - if !detail.teacher.nil?
                            %span.label.label-success.mr5.mb10.ib.lh15= 'Prof. ' + detail.teacher.paternal_surname.to_s + ' ' + detail.teacher.maternal_surname.to_s + ', ' + detail.teacher.first_name.to_s
                          - else
                            %span.label.label-success.mr5.mb10.ib.lh15= '-'
    .col-sm-12.col-md-12.col-lg-12
      .panel
        .panel-heading
          .panel-title.hidden-xs
            %span.glyphicon.glyphicon-tasks>
            Profesores
        .panel-body.pn
          %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
            %thead
              %tr
                %th
                  %strong Curso
                %th
                  %strong Nombre
                %th
                  %strong Email
            %tbody
              - @tbl.each do |row|
                %tr
                  %td
                    = row[2]
                  %td
                    = row[0]
                  %td
                    = row[1]
  %a(href="#{timetables_path}" class="btn btn-primary" role="button")
    Volver