.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@period, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "name"}
                  = f.input :name, placeholder: "Nombre", input_html: { id: 'name', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "name"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "start_date"}
                  = f.input :start_date, as: :string, placeholder: "Fecha de Inicio", input_html: { id: 'start-date', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "start_date"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "end_date"}
                  = f.input :end_date, as: :string, placeholder: "Fecha de Fin", input_html: { id: 'end-date', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "end_date"}
                    %i.fa.fa-user
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar Periodo
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{periods_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form
#modal-text.popup-basic.p25.mfp-with-anim.mfp-hide
  %h2.lh30.mt15.text-center
    %b.text-primary Cargando
  %p.text-center Espere un momento Porfavor

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };

    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'period[name]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'period[name]': {
          required: 'Ingresar Nombre'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }                    
    });

            
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $( "#admin-form" ).validate({
    
          /* @validation states + elements 
          ------------------------------------------- */
          
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          
          /* @validation rules 
          ------------------------------------------ */
              
          rules: {
            'period[name]': {
              required: true
            }
          },
          
          /* @validation error messages 
          ---------------------------------------------- */
              
          messages:{
            'period[name]': {
              required: 'Ingresar Nombre'
            }
          },

          /* @validation highlighting + error placement  
          ---------------------------------------------------- */ 
          
          highlight: function(element, errorClass, validClass) {
                  $(element).closest('.field').addClass(errorClass).removeClass(validClass);
          },
          unhighlight: function(element, errorClass, validClass) {
                  $(element).closest('.field').removeClass(errorClass).addClass(validClass);
          },
          errorPlacement: function(error, element) {
             if (element.is(":radio") || element.is(":checkbox")) {
                      element.closest('.option-group').after(error);
             } else {
                      error.insertAfter(element.parent());
             }
          }                    
        });
        if( $(form['selector']).valid() ){
          $('#modal-text').modal();
        }
        
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $('#modal-text').modal('hide');
      },
      error: function(xhr, status, error) {
        $('#modal-text').modal('hide');
      }
    });
  }

  $('#start-date').change(function(){
    var start_date = $('#start-date').val();
    var end_date = '#{@lastperiod}';
    console.log(start_date);
    console.log(end_date);

    if(end_date>start_date) {
      document.getElementById("start-date").value = '';
      new PNotify({
        title: 'Problema con las fechas.',
        text: 'La fecha del nuevo periodo no puede estar dentro del anterior.',
        shadow: true,
        opacity: 1,
        addclass: 'stack_top_right',
        type: 'danger',
        width: '300px',
        delay: 2400
      });
    }
  });