.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Periodos
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Fecha de Inicio
            %th Fecha de Fin
            %th Acciones
        %tbody
          - @periods.each do |period|
            %tr
              %td
                = period.name.to_s
              %td
                = period.start_date
              %td
                = period.end_date
              %td
                -if period.status == 1
                  %a.btn.btn-danger{:href => "#{desactivate_period_path(period.id)}"}
                    Desactivar
                -if period.grade_flag == 1
                  %a.btn.btn-success{:href => "#{get_grades_period_path(period.id)}"}
                    Obtener Notas
                %a.btn.btn-warning{:href => "#{edit_period_path(period.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{period_path(period.id)}", 'data-method' => 'DELETE'}
                  Eliminar