.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@user, url: update_password_users_path, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "current_password"}
                  = f.input :current_password, placeholder: "Contraseña Actual", input_html: { id: 'current_password', class: 'gui-input' }, label: false, :wrapper => false, type: 'password'
                  %label.field-icon{:for => "current_password"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "password"}
                  = f.input :password, placeholder: "Nueva Contraseña", input_html: { id: 'password', class: 'gui-input' }, label: false, :wrapper => false, type: 'password'
                  %label.field-icon{:for => "password"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "password_confirmation"}
                  = f.input :password_confirmation, placeholder: "Confirmar Contraseña", input_html: { id: 'password_confirmation', class: 'gui-input' }, label: false, :wrapper => false, type: 'password'
                  %label.field-icon{:for => "password_confirmation"}
                    %i.fa.fa-user
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Guardar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{root_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'user[current_password]': {
          required: true
        },
        'teacher[password]': {
          required: true
        },
        'teacher[password_confirmation]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'teacher[current_password]': {
          required: 'Debe ingresar su contraseña actual.'
        },
        'teacher[password]': {
          required: 'Ingrese nueva contraseña.'
        },
        'teacher[password_confirmation]': {
          required: 'Confirme la nueva contraseña.'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });