.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@auxiliary, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "first_name"}
                  = f.input :first_name, placeholder: "Primer Nombre", input_html: { id: 'first_name', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "first_name"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "second_name"}
                  = f.input :second_name, placeholder: "Segundo Nombre", input_html: { id: 'second_name', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "second_name"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "paternal_surname"}
                  = f.input :paternal_surname, placeholder: "Apellido Paterno", input_html: { id: 'paternal_surname', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "paternal_surname"}
                    %i.fa.fa-user
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "maternal_surname"}
                  = f.input :maternal_surname, placeholder: "Apellido Materno", input_html: { id: 'maternal_surname', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "maternal_surname"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "date_of_birth"}
                  = f.input :date_of_birth, as: :string, placeholder: "Fecha de Nacimiento", input_html: { id: 'date-of-birth', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "date_of_birth"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "dni"}
                  = f.input :dni, placeholder: "DNI", input_html: { id: 'dni', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "dni"}
                    %i.fa.fa-user
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "phone"}
                  = f.input :phone, placeholder: "Telefono", input_html: { id: 'phone', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "phone"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "owner_email"}
                  = f.input :owner_email, placeholder: "Email Personal", input_html: { id: 'owner_email', class: 'gui-input' }, label: false, :wrapper => false, :type => 'email'
                  %label.field-icon{:for => "owner_email"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "address"}
                  = f.input :address, placeholder: "Direccion", input_html: { id: 'address', class: 'gui-textarea' }, label: false, :wrapper => false
                  %label.field-icon{:for => "address"}
                    %i.fa.fa-comments

          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar Auxiliar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{auxiliaries_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'auxiliary[first_name]': {
          required: true
        },
        'auxiliary[paternal_surname]': {
          required: true
        },
        'auxiliary[maternal_surname]': {
          required: true
        },
        'auxiliary[date_of_birth]': {
          required: true,
          max: "#{@time}"
        },
        'auxiliary[owner_email]': {
          email: true
        },
        'auxiliary[phone]': {
          required: true,
          minlength : 7,
          maxlength : 9
        },
        'auxiliary[address]': {
          required: true
        },
        'auxiliary[dni]': {
          required: true,
          minlength : 8,
          maxlength : 11
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'auxiliary[first_name]': {
          required: 'Ingresa Primer Nombre'
        },
        'auxiliary[paternal_surname]': {
          required: 'Ingresa Primer Apellido'
        },
        'auxiliary[maternal_surname]': {
          required: 'Ingresa Segundo Apellido'
        },
        'auxiliary[date_of_birth]': {
          required: 'Ingresa Fecha de Nacimiento',
          max: 'El valor no puede ser mayor a la fecha actual.'
        },
        'auxiliary[owner_email]': {
          email: 'Ingrese un email válido.'
        },
        'auxiliary[phone]': {
          required: 'Ingresar teléfono.',
          maxlength: 'Debe ser 7 o 9 digitos',
          minlength: 'Debe ser 7 o 9 dígitos'
        },
        'auxiliary[address]': {
          required: 'Ingresar Dirección del Auxiliar'
        },
        'auxiliary[dni]': {
          required: 'Ingresa DNI / C. Extranjería',
          maxlength: 'Debe ser 8 o 11 digitos',
          minlength: 'Debe ser 8 o 11 dígitos'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });

    $('#date-of-birth').keypress(function(e){
      e.preventDefault();
    });
  });