.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Auxiliares
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th DNI
            %th Teléfono
            %th Acciones
        %tbody
          - @auxiliaries.each do |auxiliary|
            %tr
              %td
                = auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
              %td
                = auxiliary.dni.to_s
              %td
                = auxiliary.phone.to_s
              %td
                %a.btn.btn-warning{:href => "#{edit_auxiliary_path(auxiliary.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{auxiliary_path(auxiliary.id)}", 'data-method' => 'DELETE'}
                  Eliminar