/ begin: .admin-form
.admin-form.theme-primary
  #p1.panel.heading-border.panel-primary
    = simple_form_for(@assist, html: {id: 'form-ui', autocomplete: 'off' }) do |f|
      .panel-body.bg-light
        / Input Icons
        #spy2.section-divider.mb40
          %span Ingresar Asistencia.
        / Input Formats
        .row
          .col.sm-12.col-md-12
            .panel
              .panel-body.pn
                %table.table.table-hover
                  %thead
                    %tr.primary
                      %th Estudiante
                      %th Asitió?
                      %th Llegó tarde?
                      %th Comentarios
                  %tbody#tbl-cont
                    - @assist.assist_details.each do |detail|
                      %tr
                        %td
                          %label.field
                            = detail.student.first_name.to_s + detail.student.second_name.to_s + detail.student.paternal_surname.to_s + detail.student.maternal_surname.to_s
                            = hidden_field_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][student_id]', detail.student.id
                            = hidden_field_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][assist_id]', @assist.id
                            = hidden_field_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][id]', detail.id
                        %td.text-right
                          %label.option.option-danger
                            = check_box_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][attended]', detail.attended, detail.attended ? false : true
                            %span.checkbox
                        %td.text-right
                          %label.option.option-danger
                            = check_box_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][belate]', detail.belate, detail.belate ? false : true
                            %span.checkbox
                        %td
                          %label.field.prepend-icon
                            = text_area_tag 'assist[assist_details_attributes][' + @reg_n.to_s + '][comentary]', detail.comentary.to_s, { class: 'gui-textarea', placeholder: 'Ingrese alguna observación' }
                            %label.field-icon
                              %i.fa.fa-comments
                      - @reg_n += 1
      .panel-footer.text-right
        %button.button.btn-primary{:type => 'submit'} Guardar
        %button.button{:type => 'reset'} Cancelar
/ end: .admin-form

:javascript

  loadScript("#{ asset_path 'utility/utility', type: :javascript }");