.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Asistencia
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th #
            %th Sección
            %th Acciones
        %tbody
          %tr
            %td
              = @section.degree.id
            %td
              = @section.degree.name.to_s + ' ' + @section.name.to_s
            %td
              %a.btn.btn-success{:href => "#{assist_path(@section.id)}"}
                Ver las Asistencias