.bg-light.dark.p30.br-b.br-grey
  %p.lead.mb30
    Lista de Asistencia
  - if flash[:notice] !=nil
    %p.lead.mb30
      %b.text-warning
        = flash[:notice]
  - if flash[:error] != nil
    %p.lead.mb30
      %b.text-danger
        = flash[:error]
  - if @message.nil?
    - if !@message_now.nil? && @flag
      .input-group.input-group-merge.input-hero.mb10
        %a.btn.btn-primary.btn-block{:href => "#{new_assist_path}"}
          Registrar Asistencia
    .input-group.input-group-merge.input-hero.mb10
      %a.btn.btn-primary.btn-block{:href => "#{history_assist_path(@section.id)}"}
        Ver Historial de Asistencias
  - if !@message_error.nil?
    %p.lead.mb30
      %b.text-danger
        = @message_error
  - elsif !@message_now.nil? && @flag
    %p.lead.mb30
      %b.text-danger
        = @message_now
  - elsif !@message.nil?
    %p.lead.mb30
      %b.text-danger
        = @message

.tab-block.p20.mt10
  %section
    - if @message.nil?
      = render :partial => 'table'