.tray.tray-center.va-t.posr
  .panel
    .panel-heading.text-center
      %span.panel-title
        %span.glyphicons.glyphicons-table>
        Mis Asistencias
  .row#spy1
    .col-sm-12.col-md-12.col-lg-12
      .panel
        .panel-body.pn
          %table.table.table-hover
            %thead
              %tr.primary
                %th Fecha
                %th 
                %th 
                %th Comentarios
            %tbody
              - @assist.each do |assist|
                %tr
                  %td
                    %label.field
                      = assist.created_at.strftime('%d/%m/%Y')
                  %td
                    - if assist.attended
                      %span.label.label-success.mr5.mb10.ib.lh15= 'Asitió'
                    - else
                      %span.label.label-warning.mr5.mb10.ib.lh15= = 'Faltó'
                  %td
                    - if assist.belate
                      %span.label.label-warning.mr5.mb10.ib.lh15= 'Llegó tarde'
                    - else
                      %span.label.label-success.mr5.mb10.ib.lh15= 'No llegó tarde'
                  %td
                    %label.field.prepend-icon
                      = assist.comentary.to_s