.tray.tray-center.va-t.posr
  .panel
    .panel-heading.text-center
      %span.panel-title
        %span.glyphicons.glyphicons-table>
        = "Asistencia del día " + @assist.created_at.strftime('%d/%m/%Y')
  .row#spy1
    .col-sm-12.col-md-12.col-lg-12
      .panel
        .panel-body.pn
          %table.table.table-hover
            %thead
              %tr.primary
                %th Estudiante
                %th 
                %th 
                %th Comentarios
            %tbody
              - @assist.assist_details.each do |detail|
                %tr
                  %td
                    %label.field
                      = detail.student.first_name.to_s + ' ' + detail.student.second_name.to_s + ' ' + detail.student.paternal_surname.to_s + ' ' + detail.student.maternal_surname.to_s
                  %td
                    - if detail.attended
                      %span.label.label-success.mr5.mb10.ib.lh15= 'Asitió'
                    - else
                      %span.label.label-warning.mr5.mb10.ib.lh15= = 'Faltó'
                  %td
                    - if detail.belate
                      %span.label.label-warning.mr5.mb10.ib.lh15= 'Llegó tarde'
                    - else
                      %span.label.label-success.mr5.mb10.ib.lh15= 'No llegó tarde'
                  %td
                    %label.field.prepend-icon
                      = detail.comentary.to_s