%h2.lh30.mt15.text-center
  %b.text-primary Indicar quienes estarán autorizados en poner las notas.

.row
  .col-md-9.center-block
    / Form Wizard
    / begin: .admin-form
    .admin-form.theme-primary
      #p1.panel.heading-border.panel-primary
        = form_for :user, method: :patch, url: global_configurations_update_path, html: {id: 'form-ui', autocomplete: 'off' } do |f|
          .panel-body.bg-light
            #spy1.section-divider.mb40
              %span Profesores
            / .section-divider
            .row
              .col.sm-12.col-md-12
                .panel
                  .panel-body.pn
                    %table.table.table-hover
                      %thead
                        %tr.primary
                          %th Nombre
                          %th Sección/Secciones
                          %th Autoriza a poner nota?
                      %tbody#tbl-cont
                        - @teachers.each do |teacher|
                          %tr
                            %td
                              %label
                                = teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
                            %td
                              %label
                                -TimetableDetail.all.each do |detail|
                                  -if !detail.teacher.nil?
                                    -if detail.teacher.id == teacher.id
                                      - @sections_array << detail.timetable.sections_degree.degree.name.to_s + ' ' + detail.timetable.sections_degree.name.to_s
                                - @sections_array.uniq!
                                = @sections_array.join(' - ')
                            %td.text-right
                              %label.option.option-danger
                                - if !teacher.put_note
                                  = check_box 'teacher_oauths', nil, {class: 'p'}, teacher.id, nil
                                - else
                                  = check_box 'teacher_oauths', nil, {checked: true}, teacher.id, nil
                                %span.checkbox

            #spy1.section-divider.mb40
              %span Auxiliares
            / .section-divider
            .row
              .col.sm-12.col-md-12
                .panel
                  .panel-body.pn
                    %table.table.table-hover
                      %thead
                        %tr.primary
                          %th Nombre
                          %th Sección
                          %th Autoriza a poner nota?
                      %tbody#tbl-cont
                        - @auxiliaries.each do |auxiliary|
                          - if !auxiliary.sections_degree_detail.nil?
                            %tr
                              %td
                                %label
                                  = auxiliary.first_name.to_s + ' ' + auxiliary.second_name.to_s + ' ' + auxiliary.paternal_surname.to_s + ' ' + auxiliary.maternal_surname.to_s
                              %td
                                %label
                                  = auxiliary.sections_degree_detail.sections_degree.name.to_s
                              %td.text-right
                                %label.option.option-danger
                                  - if !auxiliary.put_note
                                    = check_box 'auxiliary_oauths', '[]', {multiple: true}, auxiliary.id, nil
                                  - else
                                    = check_box 'auxiliary_oauths', '[]', {multiple: true, checked: true}, auxiliary.id, nil
                                  %span.checkbox
          .panel-footer.text-right
            %button.button.btn-primary{:type => 'submit'} Guardar
            %button.button{:type => 'reset'} Cancelar
    / end: .admin-form