.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Grados
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Acciones
        %tbody
          - @degrees.each do |degree|
            %tr
              %td
                = degree.name.to_s
              %td
                %a.btn.btn-warning{:href => "#{edit_degree_path(degree.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{degree_path(degree.id)}", 'data-method' => 'DELETE'}
                  Eliminar