.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Profesores
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th DNI
            %th Teléfono
            %th Acciones
        %tbody
          - @teachers.each do |teacher|
            %tr
              %td
                = teacher.first_name.to_s + ' ' + teacher.second_name.to_s + ' ' + teacher.paternal_surname.to_s + ' ' + teacher.maternal_surname.to_s
              %td
                = teacher.dni.to_s
              %td
                = teacher.phone.to_s
              %td
                %a.btn.btn-warning{:href => "#{edit_teacher_path(teacher.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{teacher_path(teacher.id)}", 'data-method' => 'DELETE'}
                  Eliminar