.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@homework, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "title"}
                  = f.input :title, placeholder: "Título", input_html: { id: 'title', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "title"}
                    %i.fa.fa-user
            .section.row
              .col-md-5
                %select#sections-select{:name =>"homework[sections_degree_id]"}
                  %option{:value => nil, :rel => "", :selected => true}
                    Seleccione Grado / Sección
                  - @sectionsdegree.each do |sectiondegree|
                    - if @homework.sections_degree_id == sectiondegree
                      %option{:value => "#{sectiondegree}", :selected => true}
                        = Degree.find(SectionsDegree.find(sectiondegree).degree_id).name + ' ' + SectionsDegree.find(sectiondegree).name
                    - else
                      %option{:value => "#{sectiondegree}"}
                        = Degree.find(SectionsDegree.find(sectiondegree).degree_id).name + ' ' + SectionsDegree.find(sectiondegree).name
              .col-md-5
                %select#courses-select{:name =>"homework[course_id]"}
                  %option{:value => nil, :rel => "", :selected => true}
                    Seleccione el Curso
            .section.row
              .col-md-6
                %label.field.prepend-icon{:for => "description"}
                  = f.input :description, placeholder: "Descripción de la tarea", input_html: { id: 'description', class: 'gui-textarea' }, label: false, :wrapper => false
                  %label.field-icon{:for => "description"}
                    %i.fa.fa-comments
              .col-md-4
                %label.field.prepend-icon{:for => "homework[date_of_issue]"}
                  = text_field_tag 'homework[date_of_issue]', @time , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio', placeholder: "Fecha", input_html: { id: 'homework[date_of_issue]', class: 'gui-input', :type => "date" }, label: false, :wrapper => false
                  %label.field-icon{:for => "homework[date_of_issue]"}
                    %i.fa.fa-user

            .section.row
              .col-md-7
                %label.field.prepend-icon.append-button.file{:for => "attachment"}
                  %span.button.btn-primary Seleccionar Archivo
                  = f.input :attachment, as: :file, label: false, :wrapper => false, input_html: { id: 'file', class: 'gui-file', :onchange => "document.getElementById('uploader').value = this.value;"}
                  %input#uploader.gui-input{:placeholder => "Por favor, seleccione un archivo", :type => "text"}/
                  %label.field-icon{:for => "silabus"}
                    %i.fa.fa-upload
                - if @homework.attachment.exists?
                  .alert.alert-sm.alert-border-left.alert-primary.light.alert-dismissable
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
                    %i.fa.fa-cubes.pr10.hidden
                    %strong Aviso!
                    Este curso ya tiene un
                    %a.alert-link{:href => "#"} Archivo Adjunto
                    cargado, pero puedes reemplazarlo.
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{homeworks_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'degree[name]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'degree[name]': {
          required: 'Ingresar Nombre'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });

  $('#sections-select').change(function(){
    var url="#{complete_homeworks_path}";
    var chosen=$('#sections-select').val();
    var form_token="#{form_authenticity_token}";
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { chosen: chosen, authenticity_token: form_token}
    }).done(function( data ) {
      newOptions = [];
      $.each(data.combo, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $('#courses-select').empty();
      $('#courses-select').append(
          $("<option></option>").attr("value", "0").text("Seleccione el curso").attr("selected","selected")
        )
      $.each(newOptions, function(key,value){
        $('#courses-select').append(
          $("<option></option>").attr("value", value.id).text(value.name)
        )
      });
    });
  });