.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Tareas
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Curso
            %th Titulo
            %th Fecha
            %th Acciones
        %tbody
          - @homeworks.each do |homework|
            %tr
              %td
                = Course.find(homework.course_id).name
              %td
                = homework.title.to_s
              %td
                = homework.date_of_issue
              %td
                -if homework.status == 1
                  %a.btn.btn-success{:href => "#{desactivate_homework_path(homework.id)}"}
                    Desactivar
                %a.btn.btn-warning{:href => "#{edit_homework_path(homework.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{homework_path(homework.id)}", 'data-method' => 'DELETE'}
                  Eliminar