.tray.tray-center.va-t.posr
  .panel
    .panel-heading.text-center
      %span.panel-title
        %span.glyphicons.glyphicons-table>
        Mis Tareas
  .row#spy1
    .col-sm-12.col-md-12.col-lg-12
      .panel
        .panel-body.pn
          %table.table.table-hover
            %thead
              %tr.primary
                %th Fecha
                %th Curso
                %th Titulo
                %th Descripción
                %th Archivo
            %tbody
              - @homeworks.each do |homework|
                %tr
                  %td
                    = homework.date_of_issue
                  %td
                    = Course.find(homework.course_id).name
                  %td
                    = homework.title.to_s
                  %td
                    = homework.description.to_s
                  %td
                    - if homework.attachment.exists?
                      %img{:src => homework.attachment.url, :alt => homework.title.downcase}