%tr
  %td
    %label.field{:for => "name"}
      %input{:name => "course[course_details_attributes][" + @reg_n.to_s + "][name]", :placeholder => "Nombre", :type => "text"}
  %td.text-right
    %button.btn.btn-danger.btn-sm.deleted-item{:type => 'button', :onclick => 'del_bt(this)'}
      %i.fa.fa-trash-o