.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@course, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "name"}
                  = f.input :name, placeholder: "Nombre", input_html: { id: 'name', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "name"}
                    %i.fa.fa-user
              .col-md-7
                %label.field.prepend-icon.append-button.file{:for => "silabus"}
                  %span.button.btn-primary Seleccionar Archivo
                  = f.input :silabus, as: :file, label: false, :wrapper => false, input_html: { id: 'file', class: 'gui-file', :onchange => "document.getElementById('uploader').value = this.value;"}
                  %input#uploader.gui-input{:placeholder => "Por favor, seleccione un archivo", :type => "text"}/
                  %label.field-icon{:for => "silabus"}
                    %i.fa.fa-upload
                - if @course.silabus.exists?
                  .alert.alert-sm.alert-border-left.alert-primary.light.alert-dismissable
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
                    %i.fa.fa-cubes.pr10.hidden
                    %strong Aviso!
                    Este curso ya tiene un
                    %a.alert-link{:href => "#"} Silabus
                    cargado, pero puedes reemplazarlo.
            .row
              .col-md-2
                .section
                  %label.field
                    %button.btn.btn-primary#add-detail{:type => 'button'} Agregar Detalle
            .row
              .col.sm-12.col-md-12
                .panel
                  .panel-body.pn
                    %table.table.table-hover
                      %thead
                        %tr.primary
                          %th Detalle
                      %tbody#tbl-cont
                        - if @action == 'edit'
                          - @course.course_details.each do |detail|
                            %tr
                              %td{:style => 'display:none'}
                                = hidden_field_tag "course[course_details_attributes][" + @reg_n.to_s + "][id]", detail.id
                                = hidden_field_tag "course[course_details_attributes][" + @reg_n.to_s + "][course_id]", detail.course_id
                              %td
                                %label.field{:for => "name"}
                                  %input{:name => "course[course_details_attributes][" + @reg_n.to_s + "][name]", :placeholder => "Nombre", :type => "text", :value => (detail.name)}
                              %td.text-right
                                %label.option.option-danger
                                  = check_box 'course[course_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                  %span.checkbox
                                  Eliminar?
                            - @reg_n += 1
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit", :onclick => "block();"} Registrar Curso
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{courses_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'course[name]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'course[name]': {
          required: 'Ingresar Nombre'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });

  $('#add-detail').click(function(){
    if($('#section').val() !== ""){
      append_url_ajax("#{addMoreRows_courses_path}", 'tbl-cont', null, 'POST');
      $('#alert-1').slideToggle('fast');
    } else {
      new PNotify({
        title: 'Alerta! Al agregar un horario.',
        text: 'Especifica el Grado/Sección.',
        shadow: true,
        opacity: 1,
        addclass: 'stack_top_right',
        type: 'danger',
        width: '300px',
        delay: 2400
      });
    }
  });

  function del_bt(dom){
    $(dom).parent().parent().remove();
  }

  function block(){
    $.magnificPopup.open({
      removalDelay: 500,
      items: {
        src: '#modal-text-loading'
      },
      // overflowY: 'hidden', // 
      callbacks: {
        beforeOpen: function(e) {
          this.st.mainClass = 'mfp-zoomOut';
        }
      },
      midClick: true
    });
  }