.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Cursos
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre
            %th Acciones
        %tbody
          - @courses.each do |course|
            %tr.general-course
              %td
                %a.show-children{:href => '#', :data => "#{course.name.downcase.tr(' ', '_')}"}
                  = course.name.to_s
              %td
                %a.btn.btn-warning{:href => "#{edit_course_path(course.id)}"}
                  Editar
                %a.btn.btn-danger{:href => "#{course_path(course.id)}", 'data-method' => 'DELETE'}
                  Eliminar
            - Course.where(:course_id => course.id).each do |i_course|
              %tr.i-course{:style => "display:none", :class => "i_#{course.name.downcase.tr(' ', '_')}"}
                %td
                  = i_course.name.to_s
                %td
                  %a.btn.btn-warning{:href => "#{edit_course_path(i_course.id)}"}
                    Editar
                  %a.btn.btn-danger{:href => "#{course_path(i_course.id)}", 'data-method' => 'DELETE'}
                    Eliminar

:javascript
  
  $('a.show-children').click(function(){
    $('tr.i-course').fadeOut('fast');
    data = $(this).attr('data');
    elem_class = "tr.i_" + data;
    $(elem_class).fadeIn('fast');
  });