!!!
%html
  %head
    / Meta, title, CSS, favicons, etc.
    %meta{:charset => "utf-8"}/
    %title High School | Inicio
    %meta{:content => "Zachas", :name => "keywords"}/
    %meta{:content => "Zachas Central - Responsive System", :name => "description"}/
    %meta{:content => "Zachas", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Font CSS (Via CDN)
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    / Theme CSS
    = stylesheet_link_tag "default_skin/css/theme", media: "screen", rel: "stylesheet", type: "text/css"
    / Admin Panels CSS
    = stylesheet_link_tag "admin-plugins/admin-panels/adminpanels", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "plugins/magnific/magnific-popup", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "admin-plugins/admin-modal/adminmodal", media: "screen", rel: "stylesheet", type: "text/css"
    / Admin Forms CSS
    = stylesheet_link_tag "admin-forms/css/admin-forms", media: "screen", rel: "stylesheet", type: "text/css"
    /JS
    = javascript_include_tag 'application'
    / TOKEN
    = csrf_meta_tag
    / Favicon
    %link{:href => "assets/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.dashboard-page.sb-l-o.sb-r-c
    / Start: Main
    #main
      / Start: Header
      %header.navbar.navbar-fixed-top.bg-light
        .navbar-branding
          %a.navbar-brand{:href => "#{root_path}"}
            %b> Colegio
            Lorem Ipsum Dolor
          %span#toggle_sidemenu_l.glyphicons.glyphicons-show_lines
          %ul.nav.navbar-nav.pull-right.hidden
            %li
              %a.sidebar-menu-toggle{:href => "#"}
                %span.octicon.octicon-ruby.fs20.mr10.pull-right
        %ul.nav.navbar-nav.navbar-left
          %li
            %a.sidebar-menu-toggle{:href => "#"}
              %span.octicon.octicon-ruby.fs18
          %li
            %a.topbar-menu-toggle{:href => "#"}
              %span.glyphicons.glyphicons-magic.fs16
          %li
            %span#toggle_sidemenu_l2.glyphicon.glyphicon-log-in.fa-flip-horizontal.hidden
          %li.dropdown.hidden
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.glyphicons.glyphicons-settings.fs14
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "javascript:void(0);"}
                  %span.fa.fa-times-circle-o.pr5.text-primary
                  Reset LocalStorage
              %li
                %a{:href => "javascript:void(0);"}
                  %span.fa.fa-slideshare.pr5.text-info
                  Force Global Logout
              %li.divider.mv5
              %li
                %a{:href => "javascript:void(0);"}
                  %span.fa.fa-tasks.pr5.text-danger
                  Run Cron Job
              %li
                %a{:href => "javascript:void(0);"}
                  %span.fa.fa-wrench.pr5.text-warning
                  Maintenance Mode
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.dropdown-item-slide
            %a.dropdown-toggle.pl10.pr10{"data-toggle" => "dropdown", :href => "#"}
              %span.octicon.octicon-radio-tower.fs18
            %ul.dropdown-menu.dropdown-hover.dropdown-persist.pn.w350.bg-white.animated.animated-shorter.fadeIn{:role => "menu"}
              %li.bg-light.p8
                %span.fw600.pl5.lh30 Notifications
                %span.label.label-warning.label-sm.pull-right.lh20.h-20.mt5.mr5 12
              %li.p10.br-t.item-1
                .media
                  %a.media-left{:href => "#"}
                    = image_tag "avatars/2.jpg", alt: "", title: "avat2", class: 'mw40'
                  .media-body.va-m
                    %h5.media-heading.mv5
                      Article
                      %small.text-muted - 08/16/22
                    Last Updated 36 days ago by
                    %a.text-system{:href => "#"} Max
              %li.p10.br-t.item-2
                .media
                  %a.media-left{:href => "#"}
                    = image_tag "avatars/3.jpg", alt: "", title: "avat3", class: 'mw40'
                  .media-body.va-m
                    %h5.media-heading.mv5
                      Article
                      %small.text-muted - 08/16/22
                    Last Updated 36 days ago by
                    %a.text-system{:href => "#"} Max
              %li.p10.br-t.item-3
                .media
                  %a.media-left{:href => "#"}
                    = image_tag "avatars/4.jpg", alt: "", title: "avat4", class: 'mw40'
                  .media-body.va-m
                    %h5.media-heading.mv5
                      Article
                      %small.text-muted - 08/16/22
                    Last Updated 36 days ago by
                    %a.text-system{:href => "#"} Max
              %li.p10.br-t.item-4
                .media
                  %a.media-left{:href => "#"}
                    = image_tag "avatars/5.jpg", alt: "", title: "avat5", class: 'mw40'
                  .media-body.va-m
                    %h5.media-heading.mv5
                      Article
                      %small.text-muted - 08/16/22
                    Last Updated 36 days ago by
                    %a.text-system{:href => "#"} Max
          %li.ph10.pv20.hidden-xs
            %i.fa.fa-circle.text-tp.fs8
          %li.dropdown
            %a.dropdown-toggle.fw600.p15{"data-toggle" => "dropdown", :href => "#"}
              = image_tag "avatars/1.jpg", alt: "", title: "avat1", class: 'mw30 br64 mr15'
              %span John.Smith
              %span.caret.caret-tp.hidden-xs
            %ul.dropdown-menu.dropdown-persist.pn.w250.bg-white{:role => "menu"}
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInDown{:href => "#"}
                  %span.fa.fa-gear.pr5
                  Mi Perfil
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInDown{:href => "#{edit_user_path(current_user.id)}"}
                  %span.fa.fa-gear.pr5
                  Cambiar Contraseña
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInDown#signout{:href => "#{root_path}"}
                  %span.fa.fa-power-off.pr5
                  Cerrar Sesión
      / End: Header
      / Start: Sidebar
      %aside#sidebar_left.nano.nano-primary
        .nano-content
          / Start: Sidebar Header
          %header.sidebar-header
            .user-menu
              .row.text-center.mbn
                .col-xs-4
                  %a.text-primary{"data-placement" => "top", "data-toggle" => "tooltip", :href => "dashboard.html", :title => "Dashboard"}
                    %span.glyphicons.glyphicons-home
                .col-xs-4
                  %a.text-info{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_messages.html", :title => "Messages"}
                    %span.glyphicons.glyphicons-inbox
                .col-xs-4
                  %a.text-alert{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_profile.html", :title => "Tasks"}
                    %span.glyphicons.glyphicons-bell
                .col-xs-4
                  %a.text-system{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_timeline.html", :title => "Activity"}
                    %span.glyphicons.glyphicons-imac
                .col-xs-4
                  %a.text-danger{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_profile.html", :title => "Settings"}
                    %span.glyphicons.glyphicons-settings
                .col-xs-4
                  %a.text-warning{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_gallery.html", :title => "Cron Jobs"}
                    %span.glyphicons.glyphicons-restart
          / End: Sidebar Header
          / sidebar menu
          %ul.nav.sidebar-menu
            - if current_user.has_any_role? :director, :administrator, :assistant, :teacher
              %li.sidebar-label.pt20 MENU ADMINISTRADOR
              - if current_user.has_any_role? :administrator, :director
                %li.active
                  %a{:href => "#{root_path}"}
                    %span.glyphicons.glyphicons-home
                    %span.sidebar-title Dashboard
                %li
                  %a{:href => "#{enrolments_path}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Matrícula
                %li
                  %a{:href => "#{periods_path}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Periodos
              - if current_user.has_role? :assistant
                %li
                  %a{:href => "#{assists_path}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Registrar Asistencias
                %li
                  %a{:href => "#{show_list_students_grade_path(current_user.id)}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Ver Libreta de Notas
              - if current_user.has_any_role? :teacher, :assistant
                %li
                  %a{:href => "#{grades_path}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Registrar Notas
                %li
                  %a{:href => "#{homeworks_path}"}
                    %span.glyphicons.glyphicons-book_open
                    %span.sidebar-title Registrar Tareas
            - if current_user.has_any_role? :student
              %li.sidebar-label.pt20 MENU ALUMNOS
              %li.active
                %a{:href => "#{timetable_path(current_user.sections_degree.timetable.id)}"}
                  %span.glyphicons.glyphicons-home
                  %span.sidebar-title Ver Horario
              %li
                %a{:href => "#{show_all_notices_path}"}
                  %span.glyphicons.glyphicons-book_open
                  %span.sidebar-title Ver Avisos
              %li
                %a{:href => "#{particulary_assist_assist_path(current_user.sections_degree.id)}?student_id=#{current_user.id}"}
                  %span.glyphicons.glyphicons-book_open
                  %span.sidebar-title Ver Asistencia
              %li
                %a{:href => "#{particulary_homework_homework_path(current_user.id)}"}
                  %span.glyphicons.glyphicons-book_open
                  %span.sidebar-title Ver Tareas
              %li
                %a{:href => "#{show_grades_student_grade_path(current_user.id)}"}
                  %span.glyphicons.glyphicons-book_open
                  %span.sidebar-title Ver Notas
            - if current_user.has_any_role? :director, :administrator
              %li.sidebar-label.pt20 MANTENIMIENTOS
              %li
                %a.accordion-toggle{:href => "#"}
                  %span.glyphicons.glyphicons-shopping_cart
                  %span.sidebar-title Sistema
                  %span.caret
                %ul.nav.sub-nav
                  %li
                    %a{:href => "#"}
                      %span.glyphicons.glyphicons-keys
                      Alumnos
                  %li
                    %a{:href => "#{teachers_path}"}
                      %span.glyphicons.glyphicons-user_add
                      Profesores
                  %li
                    %a{:href => "#{auxiliaries_path}"}
                      %span.glyphicons.glyphicons-user_add
                      Auxiliares
                  %li
                    %a{:href => "#{courses_path}"}
                      %span.glyphicons.glyphicons-keys
                      Cursos
                  %li
                    %a{:href => "#{degrees_path}"}
                      %span.glyphicons.glyphicons-shopping_cart
                      Grados de Estudio
                  %li
                    %a{:href => "#{sections_degrees_path}"}
                      %span.glyphicons.glyphicons-tags
                      Secciones de Grados de Estudio
                  %li
                    %a{:href => "#{timetables_path}"}
                      %span.glyphicons.glyphicons-coins
                      Horarios
                  %li
                    %a{:href => "#{notices_path}"}
                      %span.glyphicons.glyphicons-coins
                      Avisos
              %li.sidebar-label.pt20 CONFIGURACIÓN DE LAS NOTAS
              %li
                %a{:href => "#{global_configurations_putsNotes_path}"}
                  %span.glyphicons.glyphicons-keys
                  Notas de Alumnos

            / sidebar progress bars
            %li.sidebar-label.pt25.pb10 User Stats
            %li.sidebar-stat.mb10
              %a.fs11{:href => "#projectOne"}
                %span.fa.fa-inbox.text-info
                %span.sidebar-title.text-muted Email Storage
                %span.pull-right.mr20.text-muted 35%
                .progress.progress-bar-xs.ml20.mr20
                  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 35%"}
                    %span.sr-only 35% Complete
            %li.sidebar-stat.mb10
              %a.fs11{:href => "#projectOne"}
                %span.fa.fa-dropbox.text-warning
                %span.sidebar-title.text-muted Bandwidth
                %span.pull-right.mr20.text-muted 58%
                .progress.progress-bar-xs.ml20.mr20
                  .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 58%"}
                    %span.sr-only 58% Complete
          .sidebar-toggle-mini
            %a{:href => "#"}
              %span.fa.fa-sign-out
      / Start: Content-Wrapper
      %section#content_wrapper
        / Start: Topbar-Dropdown
        #topbar-dropmenu
          .topbar-menu.row
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-success{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-inbox
                %p.metro-title Messages
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-info{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-parents
                %p.metro-title Users
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-alert{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-headset
                %p.metro-title Support
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-primary{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-cogwheels
                %p.metro-title Settings
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-warning{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-facetime_video
                %p.metro-title Videos
            .col-xs-4.col-sm-2
              %a.metro-tile.bg-system{:href => "#"}
                %span.metro-icon.glyphicons.glyphicons-picture
                %p.metro-title Pictures
        / End: Topbar-Dropdown
        / Start: Topbar
        %header#topbar
          .topbar-left
            %ol.breadcrumb
              %li.crumb-icon
                %a{:href => "#{root_path}"}
                  %span.glyphicon.glyphicon-home
              %li.crumb-link
                %a{:href => "#{root_path}"} Home
              %li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              %label.control-label.pr10.fs11.text-muted{:for => "topbar-multiple"} Reporting Period
              %select#topbar-multiple.hidden{:multiple => "multiple"}
                %optgroup{:label => "Filter By:"}
                  %option{:value => "1-1"} Last 30 Days
                  %option{:selected => "selected", :value => "1-2"} Last 60 Days
                  %option{:value => "1-3"} Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              %a.pl5{:href => "#"}
                %i.fa.fa-sign-in.fs22.text-primary
                %span.badge.badge-hero.badge-danger 3
        / End: Topbar
        / Begin: Content
        %section#content.animated.fadeIn
          = yield
        / End: Content
      / End: Content-Wrapper
      / Start: Right Sidebar
      %aside#sidebar_right.nano
        .sidebar_right_content.nano-content
          .tab-block.sidebar-block.br-n
            %ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              %li.active
                %a{"data-toggle" => "tab", :href => "#sidebar-right-tab1"} Tab 1
              %li
                %a{"data-toggle" => "tab", :href => "#sidebar-right-tab2"} Tab 2
              %li
                %a{"data-toggle" => "tab", :href => "#sidebar-right-tab3"} Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                %h5.title-divider.text-muted.mb20
                  Server Statistics
                  %span.pull-right
                    2013
                    %i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 44%"}
                    %span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 84%"}
                    %span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 61%"}
                    %span.fs11.text-left Server Connections
                %h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    %h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    %h3.text-success-dark.mn
                      %i.fa.fa-caret-up
                      13.2%
                %h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    %h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    %h3.text-success-dark.mn
                      %i.fa.fa-caret-up
                      25.6%
                %h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    %h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    %h3.text-danger.mn
                      %i.fa.fa-caret-down
                      17.9%
                %h5.title-divider.text-muted.mt40.mb20
                  Server Statistics
                  %span.pull-right.text-primary.fw600 USA
                #sidebar-right-map.hide-jzoom{:style => "width: 100%; height: 180px;"}
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
            / end: .tab-content
      / End: Right Sidebar
    / End: Main
    / BEGIN MODALS
    #modal-text-loading.popup-basic.p25.mfp-with-anim.mfp-hide
      %h2.lh30.mt15.text-center
        %b.text-primary Cargando
      %p.text-center Espere un momento porfavor
    / BEGIN: PAGE SCRIPTS
    / jQuery
    = javascript_include_tag 'jquery_ui/jquery-ui.min'
    / Bootstrap
    = javascript_include_tag 'bootstrap/bootstrap.min'
    / Sparklines CDN
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js", :type => "text/javascript"}

    / Holder js
    = javascript_include_tag 'bootstrap/holder.min'
    / Theme Javascript
    = javascript_include_tag 'main'
    = javascript_include_tag 'utility/utility'
    = javascript_include_tag 'plugins/magnific/jquery.magnific-popup'
    / Form Validations
    = javascript_include_tag 'admin-forms/js/jquery.validate.min'
    = javascript_include_tag 'admin-forms/js/additional-methods.min'
    / Admin Panels
    = javascript_include_tag 'admin-plugins/admin-panels/json2'
    = javascript_include_tag 'admin-plugins/admin-panels/jquery.ui.touch-punch.min'
    = javascript_include_tag 'admin-plugins/admin-panels/adminpanels'
    / Page Javascript
    = javascript_include_tag 'pages/widgets'
    / Fancytree Javascript
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree-all.min'
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree.childcounter'
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree.columnview'
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree.dnd'
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree.edit'
    = javascript_include_tag 'plugins/fancytree/jquery.fancytree.filter'
    :javascript
      $(document).ready(function() {

          "use strict";

          // Init Theme Core      
          Core.init({
              sbm: "sb-l-c",
          });

      });

      $('#signout').click(function(){
       append_url_ajax("#{destroy_user_session_path}", 'tbl-cont', null, 'DELETE');
       $('#alert-1').slideToggle('fast');
      });
    / END: PAGE SCRIPTS